<% title 'Echo Valley Community' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Echo Valley Community</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

<h3>Residents of Echo Valley Experience Luxury Living at Its Most Convenient</h3>

<p class="lead">With the laid back rural Iowa feel that Echo Valley offers to our residents, it’s easy to forget how close you really are to the pulse of our vibrant business and social community.</p>

<p>Located just three minutes from the Des Moines International Airport, eight minutes from the downtown core, and ten minutes from the Jordan Creek business and shopping districts, Echo Valley is ideally situated to help you get anywhere you need to be in Central Iowa. Echo Valley encompasses nearly 1,000 acres of Central Iowa’s beautiful rolling hills. Our developing community offers several residential opportunities, including estate living, single-family lots, and townhomes and villas, all located along the beautiful green space of our golf course. Our award winning 27-hole course was named 2013 Course of the Year by the Iowa Golf Association. The nine holes of The Ridge are elevated to offer stunning vistas of downtown Des Moines.</p>

<p>Developed along these links, our Ridge housing community offers equally stunning views, and was featured in The Homebuilders Association of Iowa’s Home Show Expo 2014. This luxurious development features Middle Creek, a natural waterway that runs through the property. Middle Creek is a refuge for deer, turkey and pheasant—all wildlife you are likely to see while relaxing on your deck. And with Echo Valley’s wealth of mature trees, you’ll love experiencing the colors and changes unique to each of Iowa’s seasons.</p>

<p>We think you’ll agree that Echo Valley offers the most desirable home sites on the market today.</p>
<p class="lead">For more information about homes at The Ridge at Echo Valley, call Michael Coppola or Scott McMurray at <a href="tel:+15152858880">515-285-8880</a></p>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_club/default-img-Arnold-Palmer-Ice-Cream.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0096.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0266.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0890.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->


