<% title 'Membership Contact Information' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Membership Contact Information</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley Country Club is where you belong. Located just 10 minutes from both Downtown Des Moines and the center of West Des Moines, Echo Valley is a family-owned, family oriented private golf and country club. We offer a wide array of activities for the whole family in addition to award-winning golf. Echo Valley Country Club is dedicated to its members, providing a place for friends of all ages to gather and enjoy incredible amenities like our 27 hole golf course, swimming pool, tennis court and recently renovated Clubhouse.</p>

        <form role="form" class="new_contact" id="new_contact" action="/contact" accept-charset="UTF-8" method="post">

            <div class="form-group">
              <label for="contact_name">Enter your name:</label>
              <input class="form-control" type="text" name="contact[name]" id="contact_name">
            </div>
            <div class="form-group">
              <label for="contact_email">Email:</label>
              <input class="form-control" type="email" name="contact[email]" id="contact_email">
            </div>
            <div class="form-group">
              <label for="contact_message">Message:</label>
              <textarea class="form-control" rows="3" name="contact[message]" id="contact_message"></textarea>
            </div>

            <div class="form-group">
              <input type="submit" name="commit" value="Submit" class="btn btn-default">
            </div>

        </form>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_club/default-img-Arnold-Palmer-Ice-Cream.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0096.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0266.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0890.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->


