<% title 'Directions' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Directions</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.8802035968347!2d-93.66091726766972!3d41.50687078664781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x4910affeb6f7356d!2sEcho+Valley+Country+Club!5e0!3m2!1sen!2sus!4v1438613333272" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          <address>
          Echo Valley Country Club<br>
          3150 Echo Valley Drive<br>
          Norwalk, IA 50211
          </address>
        </p>
        <p>
        <strong>Club House/Office:</strong><br>
        515-285-0101
        <br><br>
        <strong>Office Fax:</strong><br>
        515-285-6323
        <br><br>
        </p>
      </div>
      <div class="col-sm-6">
        <h5>Directions to Echo Valley Country Club</h5>
        <p><strong>Interstate 80 from the East:</strong></p>
        <p>Take Exit #141 Hwy 65 South (Turns into Hwy 5 Bypass North) for 18 miles to Exit 97 Fleur Drive (D.M. Int’l Airport exit). Go North (Right) ¼ mile on Fleur Drive to Echo Valley Drive. Turn West (Left) for ¾ mile to Echo Valley Clubhouse.</p>
        <p><strong>From Interstate 35:</strong></p>
        <p>Take Exit #68 Hwy 5 South (Des Moines International Airport Exit). Stay on Hwy 5 for 3.75 miles to Exit #99 (Norwalk). Turn South (Right) on Hwy 28 for approximately one block to Echo Valley Drive. Go East (Left) on Echo Valley Drive for 1 mile to Echo Valley Clubhouse.</p>
        <p><strong>From McVicar Freeway I-235:</strong></p>
        <p>Take ML King Jr. Pkwy Airport Exit. Go South (MLK turns into Fleur Drive). Take Fleur Drive 5 miles to Echo Valley Drive. Turn West (Right) and go ¾ mile to Echo Valley Clubhouse.</p>
        <p><strong>From Des Moines International Airport:</strong></p>
        <p>Go South on Fleur Drive 1½ miles to Echo Valley Drive. Turn West (Right) and go ¾ mile to Echo Valley Clubhouse.</p>
      </div>

    </div>

  </div>
</section>