<% title 'Club History' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Club History</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley Country Club was founded by two of Des Moines’ most prominent businessmen of the 1960s, E.C. “Eddie” Coppola and Hy Diamond. They shared a dream of providing a first-class country club with an inclusive atmosphere welcoming to any who wished to join. The dream of Echo Valley stood in stark contrast to the exclusionary policies of some area clubs at the time.</p>
        <p>The land on which Echo Valley was built had been used by Coppola to raise quarter horses. Edward L. Packard of LaSalle, IL designed the 18 holes which now comprise the Vale and Creek courses and construction began in 1967. The Clubhouse was designed by James Paxon Architects, with interior designer Kenneth Melton providing the very chic interior design, with included orange shag carpets. Don’t worry–the carpet has since been replaced and much of the Clubhouse was redesigned in an extensive 1994 renovation and subsequent 2007 facelift.</p>
        <p>In an August 30, 1970 article about the Club’s opening titled “Something for Everyone,” The Des Moines Register observed, “It appears that nothing has been left out in Des Moines’ newest addition to the country club scene, Echo Valley Country Club.” We believe this remains true today.</p>
      </div>
      <!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <div class="row">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_club/Old-dining.png", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_club/Old-aerial.png", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="white section-padding">
  <div class="container">
    <div class="row">
        <h5>Check out these historical newspaper articles about the development of Echo Valley!</h5>
      <div class="col-sm-6">
        <br />
        <ul>
          <li><a href="<%= image_path("Something-for-Everything-article-lg.jpg") %>" target="_blank"><h4 class="text-uppercase">Something for Everyone</h4></a></li>
          <li><a href="<%= image_path("Quits-Horsing-Its-Golf-article-lg.jpg") %>" target="_blank"><h4 class="text-uppercase">Quits Horsing, It's Golf</h4></a></li>
          <li><a href="<%= image_path("Development-South-of-DM-article-lg.jpg") %>" target="_blank"><h4 class="text-uppercase">Development South of DM</h4></a></li>
          <li><a href="<%= image_path("Golf-Outings-ad-1970-lg.jpg") %>" target="_blank"><h4 class="text-uppercase">Golf Outings Ad 1970</h4></a></li>
          <li><a href="<%= image_path("EVCC-newspaper-ad-1970-lg.jpg") %>" target="_blank"><h4 class="text-uppercase">EVCC Newspaper Ad 1970</h4></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
