<% title 'Club' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-club">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Club</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley Country Club embodies the spirit of its membership: friendly, vibrant and committed to the best in life. We are a private club promoting active lifestyles, social opportunities, family-centered recreation, and the very best of Midwest living. In addition to 27 holes of award-winning golf, Echo Valley's recreational opportunities include:</p>


        <h3>Swimming</h3>

        <p>Reveling in the fun and sun at our beautifully designed and landscaped pool is one of the highlights of an Echo Valley membership. With plenty of deck space to catch rays––as well as plenty of shade if you’re trying to avoid it––our pool offers something for everyone.</p>

        <p>Enjoy lunch, snacks, soft drinks and adult beverages from our concession stand, or have dinner delivered deck side from our restaurant. When you’re ready to get wet, glide in slowly from our step entry, or dive right into the deep end. Our deep-water area is roped off for safety and features a diving board and youth slide. We also offer parents of young children peace of mind with our separate, fenced-in toddler pool.</p>

        <p>Our all-family Fourth of July party is a highlight of the summer, and we feature couples cocktail parties by the pool, birthday parties by request, as well as private rentals throughout the swim season.</p>

        <p>The official pool season is Memorial Day to Labor Day. We are open 11:00 am to 8:00 pm, seven days a week during the summer season.</p>

        <h5>Features of Echo Valley Pool</h5>

        <ul>
          <li>25-meter pool with diving board and slide</li>
          <li>Separate, fenced in baby pool</li>
          <li>On-duty lifeguards during pool hours</li>
          <li>Competitive swim team for ages 4 to 18</li>
          <li>Private and group youth swim lessons</li>
          <li>Aqua basketball hoop</li>
          <li>Nearby grassy areas for volleyball and badminton games</li>
          <li>Adjacent locker and shower rooms</li>
          <li>Full-service concession stand</li>
        </ul>
        <p>For questions about the pool, call our Aquatics Director, Ethan Johnson via&nbsp;email at <a href="mailto:ethan.johnston@echovalleycc.com?cc=lisa@echovalleycc.com">ethan.johnston@echovalleycc.com <i class="icon-tiny icon-envelope-alt accent-color"></i></a> or call the pool staff at 515-285-9434.</p>

        <h3>Tennis</h3>

        <p>Echo Valley offers members the use of our newly resurfaced private tennis court. The tennis court is conveniently located next to the pool area, so players can access our concession stand and enjoy use of the nearby locker rooms and showers.</p>


        <p>Private and group tennis lessons are available for youth and adults of all abilities. For more information about the Echo Valley tennis program, or to inquire about lessons, contact our Tennis Pro, Bob Peterson via email at <a href="mailto:bob.p@echovalleycc.com?cc=lisa@echovalleycc.com">bob.p@echovalleycc.com <i class="icon-tiny icon-envelope-alt accent-color"></i></a>.</p>


        <h3>Fitness</h3>
        <p>Members of Echo Valley can take advantage of our affiliation with Aspen Athletics Clubs. Members have access to all five Des Moines Aspen locations, including Iowa’s largest private tennis facility featured at their Hickman location.</p>
        <p>Aspen is a full service fitness organization offering the best in equipment, Certified Personal Trainers and Group Exercise Instructors, as well as a variety of fitness classes, tanning, massage, pool/sauna, basketball, tennis and much more.</p>
        <p>Echo Valley is proud to offer this service to our club, providing members year-round access to a multitude of fitness activities.</p>
      </div>
      <!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
        <div class="col-sm-6">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_club/aerial.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_club/entry-sign.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_club/Clubforwebsite.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_club/AquaticsLarge.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
          <hr style="border-color: #999;">
          <h5>FROM OUR MEMBERS</h5>
          <br />
          <p><i class="fa fa-quote-left"></i> Our family loves spending time at Echo Valley. Whether it's playing golf, spending time at the pool, heading to Aspen for a workout or having dinner in the Terrace Room, our family has found so many fun ways to do things together through our membership. The entire EVCC staff is top-notch. They've made us feel welcome since day one. <i class="fa fa-quote-right"></i></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">Steve Jermier</strong></p>
          <hr>

          <p><i class="fa fa-quote-left"></i> Our family has enjoyed Echo Valley for over 20 years. When the kids were growing up, they spent summers at the Club enjoying tennis, junior golf and the swim team. We have all enjoyed the dining and social events as well. The golf course is unsurpassed in quality, beauty and challenge. A great family place at an affordable price. <i class="fa fa-quote-right"></i> </p>
          <p><em>2015 Pines Runner Up, Reigning July 4th Couples' Raft Race Champions and 2015 July 4th Egg Toss Runners-Up!</em></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">John and Kathy Campbell</strong></p>
          <hr>

          <p><i class="fa fa-quote-left"></i> Echo Valley is a wonderful place where we have enjoyed membership for over 16 years. The golf course is beautiful, the pool is relaxing, the meals are great, programming & events are well-planned and facilities are well-maintained. The staff is friendly and attentive.<br />

          For the past five years I have chaired the planning committee for the annual ladies' member-guest tournament and it is a pleasure to work with the Club's staff on this event. They are pleasant and professional, they pay attention to the details and they work tirelessly to ensure a great day for members and guests alike.<br />

          I would recommend EVCC without hesitation to anyone who is looking for a special, beautiful place right on the edge of Des Moines for golf, meeting new friends, relaxing with family, enjoying wonderful social events and hosting special events. <i class="fa fa-quote-right"></i></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">Lisa Norbury Kilian</strong></p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



