<% title 'Dining' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Dining</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley Country Club has a reputation for the finest food at any area Club, provided at an outstanding value with exceptional service. Echo Valley offers breakfast, lunch and dinner in the Terrace Room for members and their guests throughout the year. Our menu features a range of items from quick bites on your way onto the golf course to fine dining for an evening out. Offerings change from time to time to reflect seasonal specialties along with cherished Club favorites.</p>

          <p>Our chefs also offer high-quality buffet or plated catering for special events, from weddings to business meetings, from awards dinners to club luncheons.</p><br />
      </div>
      <!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <div class="row">
            <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= link_to(image_tag("assets_club/club1.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
                </div>

                <div class="item">
                  <%= link_to(image_tag("assets_club/club2.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
                </div>

                <div class="item">
                  <%= link_to(image_tag("assets_club/club3.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
                </div>

                <div class="item">
                  <%= link_to(image_tag("assets_club/club4.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#holeCarousel" data-slide-to="1"></li>
                <li data-target="#holeCarousel" data-slide-to="2"></li>
                <li data-target="#holeCarousel" data-slide-to="3"></li>
              </ol>
                <!-- Controls -->
                <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
      </div>
    </div>
    <%= link_to image_path('Echo-Valley-Menu-for-website.pdf'), :class => "btn btn-default", :target => "_blank" do %>
            <i class="fa fa-arrow-circle-o-down fa-lg"></i>&nbsp;&nbsp;Print Menu
          <% end %>
  </div>
</section> <!-- /.section-honors -->
<section class="food-menu">
  <div class="container">
    <div class="header" style="text-align:center;">
      <h1>Echo Valley</h1>
      <h3>Country Club</h3>
      <h4>Open Daily from 11:00 a.m. to 9:00 p.m.</h4>
      <hr />
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3>Starters</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Ale Battered Onion Rings</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">7</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">spicy ketchup</td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Boneless Wings</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">buffalo, celery, ranch</span><br />
                <span style="display:inline-block; text-indent:15px;">asian zing, celery, ranch</span><br />
                <span style="display:inline-block; text-indent:15px;">bbq, celery, ranch</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Meatballs</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">8</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">with ricotta and fresh bread</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Edamame*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">5</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">sea salt or spicy blend</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
      <h3 style="visibility: hidden;">Starters</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Club Poutine*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">13</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">shredded beef, mozzarella,</span><br />
            <span style="display:inline-block; text-indent:15px;">mushroom, sweet potato fries</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">House Chips</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">7</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">bacon corn dip or</span><br />
              <span style="display:inline-block; text-indent:15px;">house queso & salsa</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Chicken Quesadilla</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">cheddar, peppers, onion,</span><br />
              <span style="display:inline-block; text-indent:15px;">tomato, sour cream, salsa</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Iowa Chowder</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">5</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Chili</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">5</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
      <h3>Salads</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Beet Salad*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">9</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">red and yellow beets, walnut, chevre, greens, honey balsamic</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Steakhouse Salad**</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">14</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">peppercorn crusted steak, blue cheese, crispy onion, tomato, balsamic</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Classic Cobb*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">8/12</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">bacon, diced chicken, egg, blue cheese, avocado, tomato, cucumber, ranch</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Salmon Caesar**</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">9/13</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">pan-seared salmon, romaine, tomato, lemon, crouton, caesar</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Taco Salad**</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">9/13</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">chicken, cheddar, avocado, onion, tomato, roasted corn salsa, cilantro, lime, tortilla chips, ranch</span></td>
            </tr>
          </table>
        </div>
    <hr />
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="row">
        <h3>Flatbread Pizzas</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">The Creek (Pico Pork)</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">bacon, ham, sausage,</span><br />
                <span style="display:inline-block; text-indent:15px;">onion, pepper, red sauce</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">The Ridge (Italian)</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">pepperoni, sausage,</span><br />
                <span style="display:inline-block; text-indent:15px;">red sauce</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">The Vale (Buffalo Chicken)</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">chicken, bacon, onion,</span><br />
                <span style="display:inline-block; text-indent:15px;">tomato, blue cheese,</span><br />
              <span style="display:inline-block; text-indent:15px;">buffalo ranch</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3>Wraps & Tacos</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Crispy Chicken Buffalo Wrap</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">cheddar, cucumber, lettuce,</span><br />
                <span style="display:inline-block; text-indent:15px;">onion, tomato, ranch, house chips</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Chicken Philly Wrap</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">provolone, mushroom, onion,</span><br />
                <span style="display:inline-block; text-indent:15px;">peppers, ranch, house chips</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Tacos</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;"></span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">chipotle chicken</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">7</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">blackened fish</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">8</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">steak avocado</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <p>* gluten-free</p>
    <p>** gluten-free on request</p>
  </div>
  <div class="container">
    <hr />
      <h3>Sandwiches</h3>
      <p style="text-size:10px !important; margin-top:-15px !important;">with house chips</p>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Echo Club</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">ham, turkey, bacon, cheddar, swiss, lettuce, tomato, mayo, wheat</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Chicken Parmesan Sliders</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">mozzarella, marinara, ciabatta</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Grinder Sliders</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">provolone, mozzarella, marinara, hoagie</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Tenderloin Sliders</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">9</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">pork cutlet, onion, pickle, ketchup, mustard, ciabatta</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Salmon Cake Sliders</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">remoulade vinaigrette, ciabatta</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Southwest Turkey</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">swiss, avocado, jalapeno aoili, jalapeno corn bread</span></td>
            </tr>
          </table>
        </div>

        <div id="dish">
          <table class="table-responsive" border="0" width="83%">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">All Day Egg</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
            <td><span style="display:inline-block; text-indent:15px;">bacon, egg, sausage patty, american, brioche</span></td>
            </tr>
          </table>
        </div>
         
    <hr />
  </div>
  <div class="container">
    <div class="col-sm-6">
      <div class="row">
        <h3>Burgers</h3>
        <p style="text-size:10px !important; margin-top:-15px !important;">with lettuce, tomato, onion & house chips<br />add $1 to sub. chicken breast on any</p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Popper</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">bacon, fried jalapeno,</span><br />
                <span style="display:inline-block; text-indent:15px;">spiced cream cheese</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Open Faced Chili</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">chili, onion, tomato, cheddar</span><br />
                <span style="display:inline-block; text-indent:15px;">jalapeno corn bread</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Terrace</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;"></span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">lettuce, onion, tomato</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">cheese</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10.5</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">cheese &amp; bacon</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3 style="visibility:hidden;">Burgers</h3>
        <p style="text-size:10px !important; margin-top:-15px !important; visibility:hidden;">with house fries</p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Mushroom & Swiss</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">mushroom, lettuce, onion,</span><br />
                <span style="display:inline-block; text-indent:15px;">tomato, swiss, garlic aioli</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Bacon BBQ</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">bacon, lettuce, crispy onion,</span><br />
                <span style="display:inline-block; text-indent:15px;">tomato, cheddar, BBQ sauce</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Bruschetta</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">bacon, basil, garlic,</span><br />
              <span style="display:inline-block; text-indent:15px;">onion, tomato, swiss</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
<! -- SMALL PLATES -->
<!-- <div class="container">
  <hr />
    <div class="col-sm-6">
      <div class="row">
        <h3>Small Plates</h3>
        <p style="text-size:10px !important; margin-top:-15px !important;"></p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Citrus Seared Salmon*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">12</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">quinoa, parsley, berries,</span><br />
              <span style="display:inline-block; text-indent:15px;">citrus vinaigrette</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">Sub: Chilled Chicken</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">10</span></td>
            </tr>
          </table>
        </div>
       
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3 style="visibility:hidden;">Small Plates</h3>
        <p style="text-size:10px !important; margin-top:-15px !important; visibility:hidden;"></p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Tacos</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;"></span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">chipotle chicken</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">7</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">blackened fish</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">8</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">steak avocado</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">11</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->

<! -- AFTER 5 -->
  <div class="container">
  <hr />
    <div class="col-sm-6">
      <div class="row">
        <h3>After 5 pm</h3>
        <p style="text-size:10px !important; margin-top:-15px !important;">with clubhouse salad and choice of dressing</p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Pot Roast*</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">15</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">root vegetables,</span><br />
              <span style="display:inline-block; text-indent:15px;">mashed potatoes</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Chicken Carbonara**</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">15</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">bacon, egg yolk, arugula,</span><br />
                <span style="display:inline-block; text-indent:15px;">white wine, cream</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Turkey & Dumplings</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">13</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">smoked turkey, housemade</span><br />
                <span style="display:inline-block; text-indent:15px;">dumplings, mashed potatoes</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3 style="visibility:hidden;">Entrees</h3>
        <p style="text-size:10px !important; margin-top:-15px !important; visibility:hidden;">with clubhouse salad and choice of dressing</p>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Iowa Chop* ***</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">16</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">rosemary sweet fries,</span><br />
                <span style="display:inline-block; text-indent:15px;">peach glaze, roast cauliflower</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Cavatelli**</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">15</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">graziano sausage, mozzarella,</span><br />
                <span style="display:inline-block; text-indent:15px;">parmesan, marinara</span></td>
            </tr>
          </table>
        </div>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Lobster Mac</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">17</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">cheddar, gouda, panko crust</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <p style="clear: both;">* gluten-free</p>
    <p>** gluten-free on request</p>
    <p>*** Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food borne illness, especially if you have a medical condition.</p>
  </div>
  
  <!-- <div class="container">
    <hr />
    <div class="col-sm-6">
      <div class="row">
        <h3>Dessert</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Cookie Skillet</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">6</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">topped with ice cream</span><br />
              <span style="display:inline-block; text-indent:15px;">and chocolate sauce</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3 style="visibility:hidden;">Dessert</h3>
        <div id="dish">
          <table class="table-responsive" border="0" width="300">
            <tr>
              <td><span style="font-weight:700; font-size:20px;">Brownie Smash</span></td>
              <td align="right"><span style="font-weight:700; font-size:20px;">5</span></td>
            </tr>
            <tr>
              <td><span style="display:inline-block; text-indent:15px;">ice cream, brownies</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</section>