<% title 'Recreation' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Recreation</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/club_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley Country Club is where you belong. Located just 10 minutes from both Downtown Des Moines and the center of West Des Moines, Echo Valley is a family-owned, family oriented private golf and country club. We offer a wide array of activities for the whole family in addition to award-winning golf. Echo Valley Country Club is dedicated to its members, providing a place for friends of all ages to gather and enjoy incredible amenities like our 27 hole golf course, swimming pool, tennis court and recently renovated Clubhouse.</p>


<h3>Swimming</h3>
<p>Reveling in the fun and sun at our beautifully designed and landscaped pool is one of the highlights of an Echo Valley membership. With plenty of deck space to catch rays––as well as plenty of shade if you’re trying to avoid it––our pool offers something for everyone.</p>
<p>Enjoy lunch, snacks, soft drinks and adult beverages from our concession stand, or have dinner delivered deck side from our restaurant. When you’re ready to get wet, glide in slowly from our step entry, or dive right into the deep end. Our deep-water area is roped off for safety and features a diving board and youth slide. We also offer parents of young children peace of mind with our separate, fenced-in toddler pool.</p>
<p>Our all-family Fourth of July party is a highlight of the summer, and we feature couples cocktail parties by the pool, birthday parties by request, as well as private rentals throughout the swim season.</p>
<p>The official pool season is Memorial Day to Labor Day. We are open 11:00 am to 8:00 pm, seven days a week during the summer season.</p>
<h5>Features of Echo Valley Pool</h5>
<ul>
<li>25-meter pool with diving board and slide</li>
<li>Separate, fenced in baby pool</li>
<li>On-duty lifeguards during pool hours</li>
<li>Competitive swim team for ages 4 to 18</li>
<li>Private and group youth swim lessons</li>
<li>Aqua basketball hoop</li>
<li>Nearby grassy areas for volleyball and badminton games</li>
<li>Adjacent locker and shower rooms</li>
<li>Full-service concession stand</li>
</ul>
<p>For questions about the pool, call our Aquatics Director, Ethan Johnson via&nbsp;email at <a href="mailto:ethan.johnston@echovalleycc.com?cc=lisa@echovalleycc.com">ethan.johnston@echovalleycc.com <i class="icon-tiny icon-envelope-alt accent-color"></i></a> or call the pool staff at 515-285-9434.</p>



<h3>Tennis</h3>
<p>Echo Valley offers members the use of our newly resurfaced private tennis court. The tennis court is conveniently located next to the pool area, so players can access our concession stand and enjoy use of the nearby locker rooms and showers.</p>


Private and group tennis lessons are available for youth and adults of all abilities. For more information about the Echo Valley tennis program, or to inquire about lessons, contact our Tennis Pro, Bob Peterson via email at <a href="mailto:bob.p@echovalleycc.com?cc=lisa@echovalleycc.com">bob.p@echovalleycc.com <i class="icon-tiny icon-envelope-alt accent-color"></i></a>.</p>


<h3>Fitness</h3>
<p>Members of Echo Valley can take advantage of our affiliation with Aspen Athletics Clubs. Members have access to all five Des Moines Aspen locations, including Iowa’s largest private tennis facility featured at their Hickman location.</p>
<p>Aspen is a full service fitness organization offering the best in equipment, Certified Personal Trainers and Group Exercise Instructors, as well as a variety of fitness classes, tanning, massage, pool/sauna, basketball, tennis and much more.</p>
<p>Echo Valley is proud to offer this service to our club, providing members year-round access to a multitude of fitness activities.</p>




      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_club/default-img-Arnold-Palmer-Ice-Cream.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0096.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0266.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_club/default-img-DSC_0890.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->