<% title 'Contact for Golf Pro' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Contact for Golf Pro</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/golf_sub_nav" %>
</section>
<section class="white section-padding">
  <div class="container">

    <!-- Contact form will go here -->

    <div class="container">
        <h4>Contact Our Pro.</h4>
        <%= form_for @contact, :html => {:role => 'form'} do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Enter your name:' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'Email:' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :message, 'Message:' %>
              <%= f.text_area :message, class: 'form-control', :rows => 3 %>
            </div>
            <div class="form-group">
              <%= f.label :contact_person, 'Contact Our Pro:' %>
              <%= f.select :contact_person, options_for_select(
                                                  [['Adam Luehmann', 'adam.l@echovalleycc.com']], params[:contact_person] || ''
                                          ), {include_blank: false}, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit 'Submit', class: 'btn btn-default' %>
            </div>

        <% end %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <p>&nbsp;</p>
        <h4>Golf at Echo Valley Country Club</h4>
        <p>The award-winning golf course at Echo Valley is set in the beautiful rolling hills of central Iowa, mere minutes away from the heart of Des Moines. Named “2013 Course of the Year” by the Iowa Golf Association, members at Echo Valley enjoy 27 holes of challenging golf, each hole featuring five sets of tees to accommodate players of all levels.</p>
        <p>The course is divided into three beautiful sections: The Creek, the recently renovated Vale, and our newest section, The Ridge, which was designed by internationally renowned landscape architect Rick Robbins. Our continued commitment to renovation and improvements have made Echo Valley a must-go-to destination for all golf enthusiasts. We also offer a driving range, practice green and practice bunker.</p>
        <p>Echo Valley offers Men’s, Ladies, Couples’ Twilight Golf Outings, and Junior Golf for our youngest members. Private lessons are also available.</p>

      </div>
      <div class="col-sm-6">
        <p>&nbsp;</p>
        <h4>Features of Echo Valley Golf</h4>
        <ul>
        <li>Full-time golf pro and trained staff</li>
        <li>Private lessons</li>
        <li>Men’s, Women’s and Junior Golf Groups</li>
        <li>Fully-stocked Pro Shop</li>
        <li>Onsite bag storage</li>
        <li>Fully equipped locker rooms</li>
        <li>Motorized golf carts</li>
        <li>Premium practice balls available</li>
        </ul>
        <h5>For questions about the course or for information on Echo Valley golf programs, contact our Pro, Adam Luehmann at 515-285-7355, or email Adam at <a href="mailto:adam.l@echovalleycc.com?cc=lisa@echovalleycc.com">adam.l@echovalleycc.com <i class="icon-tiny icon-envelope-alt accent-color"></i></a>.</h5>
        <h4>To schedule a tee time, call 515-285-7355.</h4>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->