<% title 'Golf' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Golf</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/golf_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <p class="lead">The award-winning golf course at Echo Valley is set in the beautiful rolling hills of central Iowa, mere minutes away from the heart of Des Moines. Named 2013 Course of the Year by the Iowa Golf Association, members at Echo Valley enjoy 27 holes of challenging golf, each hole featuring five sets of tees to accommodate players of all levels.</p>

        <p>The course is divided into three beautiful sections: The Creek, the recently renovated Vale, and our newest section, The Ridge, which was designed by internationally renowned landscape architect Rick Robbins. Our continued commitment to renovation and improvements have made Echo Valley a must-play destination. We also offer a driving range, practice green and practice bunker.</p>

        <p>Echo Valley offers Men’s, Ladies, Couples’ Twilight Golf Outings, and Junior Golf for our youngest members. Private lessons are also available.</p>

      </div>

<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="row">
        <div class="col-sm-6">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_golf/CreekCoverLarge.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/Ridge1tee.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/Ridge2extra.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/Ridge9extra.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
    </div>
  </div>
</section> <!-- /.section-honors -->

  <%# @golf_courses.each do |gc| %>
    <%#= link_to gc.name, golfcourse_path(gc.slug) %>
  <%# end %>

<section class="section-golfinfo section-padding">
  <div class="container">
    <h3 class="section-heading heading-divider text-center">
      <small>27 Holes of Challenging Golf</small>
      Course Tour
    </h3>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-thecreek-circle.jpg") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Creek</h4>
            <a href="/golfcourses/thecreek" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-thevale-circle.jpg") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Vale</h4>
            <a href="/golfcourses/thevale" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-theridge-circle.jpg") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Ridge</h4>
            <a href="/golfcourses/theridge" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding lightgray">
  <div class="container">
    <p class="lead lead-xl text-center">For questions about the course or for information on Echo Valley golf programs, contact our Golf Pro, Adam Luehmann at 515-285-7355, or email Adam at <a href="mailto:adam.l@echovalleycc.com">adam.l@echovalleycc.com</a>.<br>
    <strong>To schedule a tee time, call <a href="tel:+5152857355">(515)&nbsp;285-7355</a>.</strong>
    </p>
  </div>
</section>
