<% title 'Course Tour' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Course Tour</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/golf_sub_nav" %>
</section>

<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-thecreek.png") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Creek</h4>
            <a href="/golfcourses/thecreek" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-thevale.png") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Vale</h4>
            <a href="/golfcourses/thevale" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail-hover-circle" style="background-image: url( <%= image_path("btn-theridge.png") %> )">
          <div class="thc-caption">
            <h4 class="text-uppercase">The Ridge</h4>
            <a href="/golfcourses/theridge" class="btn btn-outline with-icon"><span>Explore</span> <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white section-padding-bottom">
  <div class="container">
    <h3 class="section-heading heading-divider text-center">
      Full Course Map
    </h3>
  </div>
  <div id="gmapResponsive">
    <a href="#" id="gmapFullscreen" class="btn btn-primary button-fullscreen visible-xs">View Map</a>
    
    <%
        @centerMarkers = 
          [
             [
                "<a href='/golfcourses/thecreek/holes/1'>CREEK: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50970498706607",
                "-93.65933507680893"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/2'>CREEK: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50844946270176",
                "-93.65526884794235"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/3'>CREEK: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50742116442935",
                "-93.65111142396927"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/4'>CREEK: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.506711004154454",
                "-93.65274757146835"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/5'>CREEK: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50617127713594",
                "-93.654845058918"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/6'>CREEK: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50648943255442",
                "-93.6559072136879"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/7'>CREEK: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50708028846953",
                "-93.65674406290054"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/8'>CREEK: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.506426937863445",
                "-93.65906149148941"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/9'>CREEK: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.51014810749894",
                "-93.65831583738327"
             ],
             [
                "<a href='/golfcourses/thevale/holes/1'>VALE: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50970498706607",
                "-93.66153985261917"
             ],
             [
                "<a href='/golfcourses/thevale/holes/2'>VALE: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50870511443336",
                "-93.66638392210007"
             ],
             [
                "<a href='/golfcourses/thevale/holes/3'>VALE: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50778992548902",
                "-93.671053647995"
             ],
             [
                "<a href='/golfcourses/thevale/holes/4'>VALE: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.504495714517205",
                "-93.67236256599426"
             ],
             [
                "<a href='/golfcourses/thevale/holes/5'>VALE: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.502430721208384",
                "-93.67107510566711"
             ],
             [
                "<a href='/golfcourses/thevale/holes/6'>VALE: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.504519819108644",
                "-93.67018461227417"
             ],
             [
                "<a href='/golfcourses/thevale/holes/7'>VALE: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50828805987642",
                "-93.67003440856934"
             ],
             [
                "<a href='/golfcourses/thevale/holes/8'>VALE: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50951183105638",
                "-93.66707593202591"
             ],
             [
                "<a href='/golfcourses/thevale/holes/9'>VALE: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.5104091053304",
                "-93.66279244422913"
             ],
             [
                "<a href='/golfcourses/theridge/holes/1'>RIDGE: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50421685955291",
                "-93.6562505364418"
             ],
             [
                "<a href='/golfcourses/theridge/holes/2'>RIDGE: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.502427152174775",
                "-93.65671187639236"
             ],
             [
                "<a href='/golfcourses/theridge/holes/3'>RIDGE: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50118853207469",
                "-93.65677624940872"
             ],
             [
                "<a href='/golfcourses/theridge/holes/4'>RIDGE: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50004648062333",
                "-93.65802079439163"
             ],
             [
                "<a href='/golfcourses/theridge/holes/5'>RIDGE: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50094989612253",
                "-93.66631418466568"
             ],
             [
                "<a href='/golfcourses/theridge/holes/6'>RIDGE: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.4996828381229",
                "-93.66996735334396"
             ],
             [
                "<a href='/golfcourses/theridge/holes/7'>RIDGE: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.49705773325132",
                "-93.66868525743484"
             ],
             [
                "<a href='/golfcourses/theridge/holes/8'>RIDGE: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.499438514671105",
                "-93.66373389959335"
             ],
             [
                "<a href='/golfcourses/theridge/holes/9'>RIDGE: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50368279332292",
                "-93.66163641214371"
             ]
          ]


      init_options = {
        :zoom => 16,
        :coursename => "",
        :centerLoc => [41.50602232092775, -93.66101145744324],
        :activeHole => "",
        :wholesCenterLoc => @centerMarkers,
        :view => 0
      }
    %>

    <div id="gMap" class="g-map-course"  data-pluginoptions='<%= init_options.to_json %>'></div>   

    <script>
      var courseMarkers = [
        <% @course1 = @golf_courses.find(1) %>
        <% @course2 = @golf_courses.find(2) %>
        <% @course3 = @golf_courses.find(3) %>
        <% @course1.golf_holes.each_with_index do |h, index| %>
          ['Black tee <%= h.black_tee_yards %> yards', <%= h.black_lat %>, <%= h.black_long %>, 0],
          ['White tee <%= h.white_tee_yards %> yards', <%= h.white_lat %>, <%= h.white_long %>, 1],
          ['Blue tee <%= h.blue_tee_yards %> yards', <%= h.blue_lat %>, <%= h.blue_long %>, 2],
          ['Gold tee <%= h.gold_tee_yards %> yards', <%= h.gold_lat %>, <%= h.gold_long %>, 3],
          ['Hole <%= h.hole_number %> <br>Par <%= h.par %>', <%= h.hole_lat %>, <%= h.hole_long %>, 4],
        <% end %>
        <% @course2.golf_holes.each_with_index do |h, index| %>
          ['Black tee <%= h.black_tee_yards %> yards', <%= h.black_lat %>, <%= h.black_long %>, 0],
          ['White tee <%= h.white_tee_yards %> yards', <%= h.white_lat %>, <%= h.white_long %>, 1],
          ['Blue tee <%= h.blue_tee_yards %> yards', <%= h.blue_lat %>, <%= h.blue_long %>, 2],
          ['Gold tee <%= h.gold_tee_yards %> yards', <%= h.gold_lat %>, <%= h.gold_long %>, 3],
          ['Hole <%= h.hole_number %> <br>Par <%= h.par %>', <%= h.hole_lat %>, <%= h.hole_long %>, 4],
        <% end %>
        <% @course3.golf_holes.each_with_index do |h, index| %>
          ['Black tee <%= h.black_tee_yards %> yards', <%= h.black_lat %>, <%= h.black_long %>, 0],
          ['White tee <%= h.white_tee_yards %> yards', <%= h.white_lat %>, <%= h.white_long %>, 1],
          ['Blue tee <%= h.blue_tee_yards %> yards', <%= h.blue_lat %>, <%= h.blue_long %>, 2],
          ['Gold tee <%= h.gold_tee_yards %> yards', <%= h.gold_lat %>, <%= h.gold_long %>, 3],
          ['Hole <%= h.hole_number %> <br>Par <%= h.par %>', <%= h.hole_lat %>, <%= h.hole_long %>, 4]<%= index == 8 ? "" : "," %>
        <% end %>
      ]
    </script>

  </div>

</section> <!-- /.section-honors -->

<section class="white section-padding">
  <div class="container">
    <h3 class="section-heading heading-divider text-center">
      Course Architect
    </h3>
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag("course-architect-001.png", class: "img-responsive img-center m-bottom") %>
      </div>
      <div class="col-sm-7">
        <h4>Rick Robbins, ASLA, ASGCA, RLA</h4>
        <p class="lead">Don’t let this seemingly simple, southern heritage fool you though. Robbins designs can be seen across the nation and throughout the world including China, Indonesia, Thailand and Malaysia. He continues to work extensively in Asia, keeping a constant balance of design elements from around the globe and his own backyard.</p>

        <p>Robbins has been designing courses with his firm, Robbins &amp; Associates International, since 1991. Headquartered in Cary, North Carolina, Robbins is surrounded by familiarity including his alma mater, North Carolina State University School of Design, as well as numerous historical points of interest and tourism sites that the Robbins family has been instrumental in developing over the years. Some of these are Tweetsie Railroad, Hound Ears Club, The Elk River Club, and Beech Mountain Golf and Ski Resort.</p>

      </div>
    </div>
  </div>
</section>

