<% title 'Membership' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Membership</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <ul class="nav nav-secondary">
    <li class="<%= active_if(golfcourses_path) %>"><%= link_to 'Course Tour', golfcourses_path %></li><li class="<%= active_if(events_golfcourses_path) %>">
    <%= link_to 'Golf Events', events_golfcourses_path %></li><li class="<%= active_if(membership_golfcourses_path) %>">
    <%= link_to 'Membership', membership_golfcourses_path %></li><li class="<%= active_if(practice_facilities_golfcourses_path) %>">
    <%= link_to 'Practice Facilities', practice_facilities_golfcourses_path %></li><li class="<%= active_if(contact_golfcourses_path) %>">
    <%= link_to 'Contact for Golf Pro', contacts_path(contact_person: 'matt.matthias@echovalleycc.com') %></li>
  </ul>
</section>

<section class="section-padding gray">
  <div class="container text-center">
    <p class="h4">To receive more information on our memberships, <br>contact Matt Matthias by calling 515-285-0101.</p>
  </div>
</section>
<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>At Echo Valley, our staff is dedicated to making your life easier and ensuring you have a wonderful member experience. Echo Valley promises you luxury at an affordable price, and we’re eager to welcome you into our community.</p>
        <p>We offer several different membership options, and we’re sure one will fit your needs. Join your friends at Echo Valley—where you belong.</p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_golf/golf-img-001.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_golf/golf-img-002.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_golf/golf-img-003.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_golf/golf-img-004.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>&nbsp;</p>
        <h4>Social Membership</h4>
        <p>Enjoy full access for you and your family to the Echo Valley Clubhouse, as well as these club activities and facilities:</p>
        <ul>
        <li>Tennis facilities</li>
        <li>Swimming pool</li>
        <li>Clubhouse</li>
        <li>Junior age programs</li>
        <li>Aspen Athletic Club</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p>&nbsp;</p>
        <h4>Regular Full Privilege Golf Membership</h4>
        <p>Enjoy full access for you and your family to the Echo Valley Clubhouse, as well as all club facilities, including</p>
        <ul>
        <li>Golf</li>
        <li>Tennis</li>
        <li>Swimming</li>
        <li>Clubhouse</li>
        <li>Members ages 35+</li>
        <li>Aspen Athletic Club</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p>&nbsp;</p>
        <h4>Junior Full Privilege Golf Membership</h4>
        <p>Enjoy full access for you and your family to the Echo Valley Clubhouse, as well as these club facilities:</p>
        <ul>
        <li>Golf</li>
        <li>Tennis</li>
        <li>Swimming</li>
        <li>Clubhouse</li>
        <li>Members ages 18 through 34</li>
        <li>Aspen Athletic Club</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>&nbsp;</p>
        <h4>Clubhouse/Fitness</h4>
        <p>Enjoy access for you and your family to the Echo Valley Clubhouse as well as membership in the Aspen Athletic Clubs.</p>
        <ul>
        <li>Clubhouse</li>
        <li>Aspen Athletic Clubs</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <p>&nbsp;</p>
        <h4>Annual Corporate Golf Membership</h4>
        <p>Corporate memberships are available to corporations with three or more designees at the time of joining. Membership terms are for one calendar year.</p>
        <p>Corporate memberships provide access for members and their families to the Echo Valley Clubhouse, as well as these facilities:</p>
        <ul>
        <li>Golf</li>
        <li>Tennis</li>
        <li>Swimming</li>
        <li>Clubhouse</li>
        <li>Aspen Athletic Club</li>
        </ul>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->