<% title 'Practice Facilities' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Practice Facilities</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/golf_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley is home to top-notch practice facilities to prepare your game. We feature two driving and chipping ranges with multiple targets as well as a putting green to hone your skills.</p>
      </div>
<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
        <div class="col-sm-6">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_golf/practice1Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/practice2Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/practice3Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_golf/practice4Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
    </div>
    </div>
  </div>
</section> <!-- /.section-honors -->