<% title @golfcourse.name %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Golf</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/golf_sub_nav" %>
</section>

<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="btn-group">
          <a href="#" class="btn-courseselect" data-toggle="dropdown">
            <%= @golfcourse.name %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @golf_courses.each do |gc| %>
              <li><%= link_to gc.name, golfcourse_path(gc.slug) %></li>
            <% end %>
          </ul>
        </div>

      </div>
      <div class="col-sm-6">
        <ul class="nav nav-inline nav-holenumbers pull-right-sm">
        <li><strong class="text-uppercase text-muted">Holes&nbsp;&nbsp;&nbsp;</strong></li>
        <% @holes.each do |h| %>
          <li><%= link_to h.hole_number, golfcourse_hole_path(@golfcourse.slug, h.hole_number) %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row m-top m-bottom">
      <div class="col-sm-6">
        <p><%= @golfcourse.course_description %></p>
      </div>
      <!-- Setup for the image modal window -->

<!-- Modal -->
<%= render "shared/golf_popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <% if @golfcourse.golf_course_photos.blank? %>
        <%= image_tag("IMG_3851.jpg", :class=>"img-responsive") %>
        <% else %>
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <% @golfcourse.golf_course_photos.each_with_index do |x, index| %>
                  <div class="item <%= index == 0 ? "active" : "" %> ">
                    <%= link_to(image_tag(x.photo.url, size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)", "data-img-address"=>x.photo.url) %>
                  </div>
                <% end %>
            </div>
            <% unless @golfcourse.golf_course_photos.blank? %>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @golfcourse.golf_course_photos.each_with_index do |x, index| %>
                  <li data-target="#holeCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
                <% end %>
              </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-border">
        <thead>
        <tr>
          <th class="text-uppercase lead"><strong>HOLE</strong></th>
          <% @holes.each do |h| %>
            <th class="text-uppercase lead"><strong><%= h.hole_number %></strong></th>
          <% end %>
          <th class="text-uppercase lead"><strong>OUT</strong></th>
        </tr>
        </thead>
        <tr class="lightgray">
          <td class="text-uppercase lead"><strong>PAR</strong></td>
          <% @holes.each do |h| %>
              <td class="text-uppercase lead"><strong><%= h.par %></strong></td>
          <% end %>
          <td><%= @holes.sum(:par) %></td>
        </tr>
        <tr class="darkgray">
          <td class="text-uppercase lead"><strong>BLACK</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.black_tee_yards %></td>
          <% end %>
          <td><%= @holes.sum(:black_tee_yards) %></td>
        </tr>
        <tr>
          <td class="text-uppercase lead"><strong>WHITE</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.white_tee_yards %></td>
          <% end %>
          <td><%= @holes.sum(:white_tee_yards) %></td>
        </tr>
        <tr class="blue">
          <td class="text-uppercase lead"><strong>BLUE</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.blue_tee_yards %></td>
          <% end %>
          <td><%= @holes.sum(:blue_tee_yards) %></td>
        </tr>
        <tr>
          <td class="text-uppercase lead"><strong>HANDICAP</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.handicap %></td>
          <% end %>
          <td></td>
        </tr>
        <tr><td colspan="11" class="p-top">&nbsp;</td></tr>
        <tr class="lightgray">
          <td class="text-uppercase lead"><strong>PAR</strong></td>
          <% @holes.each do |h| %>
              <td class="text-uppercase lead"><strong><%= h.gold_tee_par %></strong></td>
          <% end %>
          <td><%= @holes.sum(:gold_tee_par) %></td>
        </tr>
        <tr class="gold">
          <td class="text-uppercase lead"><strong>GOLD</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.gold_tee_yards %></td>
          <% end %>
          <td><%= @holes.sum(:gold_tee_yards) %></td>
        </tr>
        <tr>
          <td class="text-uppercase lead"><strong>HANDICAP</strong></td>
          <% @holes.each do |h| %>
              <td><%= h.gold_tee_handicap %></td>
          <% end %>
          <td></td>
        </tr>
      </table>
    </div>


  </div>
</section> <!-- /.section-honors -->

<section class="section-padding white">
  <div class="container">
    <h3 class="section-heading heading-divider text-center">
      Map of <%= @golfcourse.name %>
    </h3>
  </div>
  
  <div id="gmapResponsive">
    <a href="#" id="gmapFullscreen" class="btn btn-primary button-fullscreen visible-xs">View Map</a>
    
    <%
      @centerOfCourse = ""
      @centerMarkers = ""    
      if @golfcourse.name.downcase.gsub(/\s/, '') == 'thecreek' then
        @centerOfCourse = [41.50724358014099, -93.65770697593689]
        @centerMarkers = [             [
                "<a href='/golfcourses/thecreek/holes/1'>CREEK: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50970498706607",
                "-93.65933507680893"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/2'>CREEK: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50844946270176",
                "-93.65526884794235"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/3'>CREEK: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50742116442935",
                "-93.65111142396927"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/4'>CREEK: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.506711004154454",
                "-93.65274757146835"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/5'>CREEK: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50617127713594",
                "-93.654845058918"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/6'>CREEK: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50648943255442",
                "-93.6559072136879"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/7'>CREEK: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50708028846953",
                "-93.65674406290054"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/8'>CREEK: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.506426937863445",
                "-93.65906149148941"
             ],
             [
                "<a href='/golfcourses/thecreek/holes/9'>CREEK: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.51014810749894",
                "-93.65831583738327"
             ]]
      elsif @golfcourse.name.downcase.gsub(/\s/, '') == 'thevale'
        @centerOfCourse = [41.506632953413835, -93.66854310035706]
        @centerMarkers = [[
                "<a href='/golfcourses/thevale/holes/1'>VALE: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50970498706607",
                "-93.66153985261917"
             ],
             [
                "<a href='/golfcourses/thevale/holes/2'>VALE: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50870511443336",
                "-93.66638392210007"
             ],
             [
                "<a href='/golfcourses/thevale/holes/3'>VALE: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50778992548902",
                "-93.671053647995"
             ],
             [
                "<a href='/golfcourses/thevale/holes/4'>VALE: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.504495714517205",
                "-93.67236256599426"
             ],
             [
                "<a href='/golfcourses/thevale/holes/5'>VALE: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.502430721208384",
                "-93.67107510566711"
             ],
             [
                "<a href='/golfcourses/thevale/holes/6'>VALE: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.504519819108644",
                "-93.67018461227417"
             ],
             [
                "<a href='/golfcourses/thevale/holes/7'>VALE: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50828805987642",
                "-93.67003440856934"
             ],
             [
                "<a href='/golfcourses/thevale/holes/8'>VALE: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50951183105638",
                "-93.66707593202591"
             ],
             [
                "<a href='/golfcourses/thevale/holes/9'>VALE: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.5104091053304",
                "-93.66279244422913"
             ]]
      else @golfcourse.name.downcase.gsub(/\s/, '') == 'theridge'
        @centerOfCourse = [41.50134597071533, -93.66289973258972]
        @centerMarkers = [[
                "<a href='/golfcourses/theridge/holes/1'>RIDGE: <strong>Hole 1</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50421685955291",
                "-93.6562505364418"
             ],
             [
                "<a href='/golfcourses/theridge/holes/2'>RIDGE: <strong>Hole 2</strong> <i class='fa fa-angle-right'></i></a>",
                "41.502427152174775",
                "-93.65671187639236"
             ],
             [
                "<a href='/golfcourses/theridge/holes/3'>RIDGE: <strong>Hole 3</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50118853207469",
                "-93.65677624940872"
             ],
             [
                "<a href='/golfcourses/theridge/holes/4'>RIDGE: <strong>Hole 4</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50004648062333",
                "-93.65802079439163"
             ],
             [
                "<a href='/golfcourses/theridge/holes/5'>RIDGE: <strong>Hole 5</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50094989612253",
                "-93.66631418466568"
             ],
             [
                "<a href='/golfcourses/theridge/holes/6'>RIDGE: <strong>Hole 6</strong> <i class='fa fa-angle-right'></i></a>",
                "41.4996828381229",
                "-93.66996735334396"
             ],
             [
                "<a href='/golfcourses/theridge/holes/7'>RIDGE: <strong>Hole 7</strong> <i class='fa fa-angle-right'></i></a>",
                "41.49705773325132",
                "-93.66868525743484"
             ],
             [
                "<a href='/golfcourses/theridge/holes/8'>RIDGE: <strong>Hole 8</strong> <i class='fa fa-angle-right'></i></a>",
                "41.499438514671105",
                "-93.66373389959335"
             ],
             [
                "<a href='/golfcourses/theridge/holes/9'>RIDGE: <strong>Hole 9</strong> <i class='fa fa-angle-right'></i></a>",
                "41.50368279332292",
                "-93.66163641214371"
             ]]
      end

      init_options = {
          :coursename => @golfcourse.name.downcase.gsub(/\s/, ''),
          :centerLoc => @centerOfCourse,
          :activeHole => "",
          :wholesCenterLoc => @centerMarkers,
          :view => 1
      }
    %>

    <div id="gMap" class="g-map-course"  data-pluginoptions='<%= init_options.to_json %>'></div>    
  </div>
</section>



<script>
  var courseMarkers = [
    <% @holes.each_with_index do |h, index| %>
      ['Black tee <%= h.black_tee_yards %> yards', <%= h.black_lat %>, <%= h.black_long %>, 0],
      ['White tee <%= h.white_tee_yards %> yards', <%= h.white_lat %>, <%= h.white_long %>, 1],
      ['Blue tee <%= h.blue_tee_yards %> yards', <%= h.blue_lat %>, <%= h.blue_long %>, 2],
      ['Gold tee <%= h.gold_tee_yards %> yards', <%= h.gold_lat %>, <%= h.gold_long %>, 3],
      ['Hole <%= h.hole_number %> <br>Par <%= h.par %>', <%= h.hole_lat %>, <%= h.hole_long %>, 4]<%= index == 8 ? "" : "," %>
    <% end %>
  ]
</script>




