<!doctype html>
<html class="no-js" lang="">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application-admin', media: 'all' %>
  <%= javascript_include_tag 'application-admin', 'data-turbolinks-track' => true %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="mediaFilesList" style="margin-top:25px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <%= search_form_for @q, :html => {:class => 'form-inline'} do |f| %>
            <div class="form-group">
              <%= f.search_field :file_file_name_cont, class: 'form-control', id: 'file_file_name', placeholder: 'Enter File Name' %>
            </div>
            <%= f.submit 'Search', class: "btn btn-default" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= file_size_total %>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top:25px;">
    <%= form_tag('/media_files/delete_multiple', method: "delete", id: 'delete_multiple_form') do %>
        <p>
          <%= link_to 'Add Files', new_media_file_path, class: 'btn btn-primary', role: 'button' %>
          <%= submit_tag('Delete Selected', class: 'btn btn-danger', id: 'multiple_delete') %>
        </p>
        <ul class="list-group">
          <% @files.each_with_index do |x, i| %>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <% file_type = x.file.content_type %>
                    <% case file_type %>
                    <% when "application/pdf" %>
                        <i class="fa fa-file-pdf-o media-object" style="font-size:7em;"></i>
                    <% else %>
                        <%= image_tag x.file.url(:thumb), :class => 'media-object' %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= x.file_file_name %></h4>
                    <a href="#" class="btn btn-default btn-xs select-button" data-url="<%= x.file.url %>" onclick="tynyMcSelect('<%= x.file.url %>')">Select</a>
                    <%= link_to 'Edit', x, class: 'btn btn-info btn-xs' %>
                    <%= link_to 'Delete', x, method: :delete, data: {confirm: "You sure?"}, class: 'btn btn-danger btn-xs' %>
                    <%= check_box_tag 'media_file_ids[]', x.id, false, id: "media_file_#{x.id}" %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
        <script>
        function tynyMcSelect(id) {
            parent.tinymce.activeEditor.windowManager.getParams().oninsert(id);
            parent.tinymce.activeEditor.windowManager.close();
        }
        </script>
        <script>
            $(function () {
                if( $('#mediaFilesList').length ) {

                    $("#multiple_delete").on("click", function(e){
                        e.preventDefault()
                        var r = confirm("Are you sure?")
                        if (r == true) {
                            $( "#delete_multiple_form" ).submit();
                        }
                    })
                }
            });
        </script>

    <% end %>
    <div class="clearfix">
      <%= paginate @files %>
    </div>
  </div>
</section>

</body>
</html>

