<!doctype html>
<html class="no-js" lang="">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application-admin', media: 'all' %>
    <%= javascript_include_tag 'application-admin' %>

  </head>
  <body>
    <br>



    <section id="mediaFilesUpload">
      <div class="container-fluid">

        <%= form_for @media_file, :html => { :multipart => true, :id => "fileupload" } do |f| %>
            <div class="well clearfix">
              <% if @media_file.errors.any? %>
                  <div class="alert alert-danger">
                    <ul>
                      <% @media_file.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="form-group">
                <%= f.label :file, 'File Input' %>
                <%= f.file_field :file, multiple: true, name: 'media_file[file]' %>
              </div>
              <%= link_to "Done", media_files_path, class: "btn btn-primary", id: 'done_uploading', style: 'display:none' %>
              <%= link_to "Cancel", media_files_path, class: "btn btn-default" %>
            </div>
        <% end %>

      <div id="progress" class="progress">
        <div class="progress-bar" style="width: 0%;">
          0%
        </div>
      </div>
      <ul id="filesToUpload" class="list-group">
      </ul>
      </div>
    </section>


  </body>
</html>

