<% title 'Special Events' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Directory</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section style="background:#e3e3e6;">
  <div class="container">
    <div class="search-container">
      <div class="row">
        <div class="col-sm-7">
          <div class="search-content form-inline">
              <input type="text" class="form-control" placeholder="search for a member" id="search-bar">
              <label for="filter">by</label>
              <select id="filter" class="form-control">
                <option value="fname">First Name</option>
                <option value="lname">Last Name</option>
                <option value="phone">Phone</option>
                <option value="email">Email</option>
              </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="white section-padding">
  <div class="alphabet">
    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
      <li>G</li>
      <li>H</li>
      <li>I</li>
      <li>J</li>
      <li>K</li>
      <li>L</li>
      <li>M</li>
      <li>N</li>
      <li>O</li>
      <li>P</li>
      <li>Q</li>
      <li>R</li>
      <li>S</li>
      <li>T</li>
      <li>U</li>
      <li>V</li>
      <li>W</li>
      <li>X</li>
      <li>Y</li>
      <li>Z</li>
    </ul>
  </div>
</section>
<section class="white section-padding-bottom" style="margin-top:-40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="members-list">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><span class="filters" id="filters-first">FIRST</span></th>
                  <th><span class="filters select" id="filters-last">LAST</span></th>
                  <th><span class="filters" id="filters-phone">PHONE</span></th>
                  <th><span class="filters" id="filters-email">EMAIL</span></th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lizabeth  </td>
                  <td>Hewitt</td>
                  <td>(515) 255-0590</td>
                  <td>vbyta1@30qy11v0018.com</td>
                  <td><span style="float:right"><i class="fa fa-angle-right"></i></span></td>
                </tr>
                <tr>
                  <td>Winston</td>
                  <td>Janecek</td>
                  <td>(515) 330-8841</td>
                  <td>_bk-494k-jke-@jl00z3v1fus0.com</td>
                  <td><span style="float:right"><i class="fa fa-angle-right"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12-sm">
        <div class="pagination">
          <ul>
            <li><i class="fa fa-angle-double-left"></i> &nbsp;FIRST</li>
            <li><i class="fa fa-angle-left"></i>&nbsp;PREVIOUS</li>
            <li>1</li>
            <li>2</li>
            <li id="active">3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>NEXT&nbsp;<i class="fa fa-angle-right"></i></li>
            <li>LAST&nbsp;<i class="fa fa-angle-double-right"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



