<%= semantic_form_for [:admin, @newsletter_campaign], :html => { :multipart => true }  do |f| %>
    <%= f.semantic_errors *f.object.errors.keys %>
    <%= f.inputs 'Newsletter Content Details' do %>
        <%= f.input :name, :label => 'Name:' %>
        <%= f.input :content, :input_html => { :class => "tinymce table-editor" } %>
        <% if params[:action] == 'edit' %>
            <%= f.input :slug, :label => 'Slug:', :input_html => { :disabled => true }, :hint => "Preview URL: #{request.host}/newsletters/#{@newsletter_campaign.slug}" %>
        <% end %>
        <%= f.input :layout_name, :label => 'Layout:', :as => :select, :collection => [["Default", "newsletters/default"], ["None", ""], ["Custom", "newsletters/custom"]], :include_blank => false %>
        <% if params[:action] == 'edit' %>
            <%= f.input :custom_layout_content, :label => 'Custom Layout Content:', :wrapper_html => { :style => "display:none;" } %>
        <% end %>
    <% end %>
    <%= f.actions do %>
        <%= f.action :submit %>
        <li class="cancel"><%= link_to "Cancel", admin_newsletter_campaigns_path %></li>
    <% end %>
<% end %>

<%#= tinymce %>
