<ul class="nav nav-secondary">
    <li class="<%= active_if(events_clubs_path) %>">
    <%= link_to "Club Events", events_clubs_path %></li><li class="<%= active_if(guest_information_clubs_path) %>">
    <%= link_to "Information", guest_information_clubs_path %></li><li class="<%= active_if(menu_clubs_path) %>">
    <%= link_to "Dining", menu_clubs_path %></li><li class="<%= active_if(dress_code_clubs_path) %>">
    <%= link_to "History", history_clubs_path %></li><li class="<%= active_if(careers_clubs_path) %>">
    <%= link_to "Careers", careers_clubs_path %></li><li class="<%= active_if(directions_clubs_path) %>">
    <%= link_to "Contact", contacts_path(contact_person: 'matt.matthias@echovalleycc.com') %></li>
  </ul>