  <ul class="nav nav-secondary">
    <li class="<%= active_if(venue_events_path) %>"><%= link_to "Venue", venue_events_path %></li><li class="<%= active_if(photo_gallery_events_path) %>">
    <%= link_to "Photo Gallery", photo_gallery_events_path %></li><li class="<%= active_if(directions_events_path) %>">
    <%= link_to "Directions", directions_events_path %></li><li class="<%= active_if(contact_events_path) %>">
    <%= link_to "Events Contact", contacts_path(contact_person: 'events@echovalleycc.com') %></li>
  </ul>