<nav class="navbar navbar-inverse navbar-primary">
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <a class="navbar-brand" href="/">
                    <%#= image_tag("brand-logo-echovalley.png", class: "img-responsive") %>
                    <%= image_tag("brand-logo-echovalley@2x.png", class: "img-responsive") %>
                  </a>
                </div>
                <div class="navbar-container col-sm-9 hidden-xs">
                  <div class="offcanvas-wrapper">
                    <ul class="nav navbar-nav">
                      <li>
                        <%= link_to root_path do %>
                          <em class="fa fa-home fa-lg"></em><span class="home-text">Home</span>
                        <% end %>
                      </li>
                      <li class="<%= "active" if params[:controller] == "clubs" %> has-children">
                        <%= link_to "Club", clubs_path %>
                        <ul class="is-hidden">
                          <li><%= link_to "Club Events", events_clubs_path %></li>
                          <li><%= link_to "Information", guest_information_clubs_path %></li>
                          <li><%= link_to "Dining", menu_clubs_path %></li>
                          <li><%= link_to "History", history_clubs_path %></li>
                          <li><%= link_to "Careers", careers_clubs_path %></li>
                          <li><%= link_to "Contact", contacts_path(contact_person: 'matt.matthias@echovalleycc.com') %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= "active" if params[:controller] == "golfcourses" || params[:controller] == "holes" %> has-children">
                        <%= link_to "Golf", golf_path %>
                        <ul class="is-hidden">
                          <li><%= link_to 'Course Tour', golfcourses_path %></li>
                          <li><%= link_to 'Golf Events', events_golfcourses_path %></li>
                          <li><%= link_to 'Practice Facilities', practice_facilities_golfcourses_path %></li>
                          <li><%= link_to 'Contact for Golf Pro', contact_golfcourses_path %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= active_if(homes_path) %>">
                        <%= link_to "Homes", homes_path %>
                      </li>
                      <li class="<%= "active" if params[:controller] == "events" %> has-children">
                        <%= link_to "Special Events", events_path %>
                        <ul class="is-hidden">
                          <li><%= link_to "Venue", venue_events_path %></li>
                          <li><%= link_to "Photo Gallery", photo_gallery_events_path %></li>
                          <li><%= link_to "Directions", directions_events_path %></li>
                          <li><%= link_to "Events Contact", contacts_path(contact_person: 'events@echovalleycc.com') %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= active_if(memberinfo_path) %>">
                        <%= link_to "Membership", memberinfo_path %>
                      </li>
                      <li class="<%= active_if(contacts_path) %>"><%= link_to "Contact", contacts_path %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav> <!-- /.navbar-inverse -->