<nav class="navbar navbar-inverse navbar-primary">
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <a class="navbar-brand" href="/">
                    <%#= image_tag("brand-logo-echovalley.png", class: "img-responsive") %>
                    <%= image_tag("brand-logo-echovalley@2x.png", class: "img-responsive") %>
                  </a>
                </div>
                <div class="navbar-container col-sm-9 hidden-xs">
                  <div class="offcanvas-wrapper">
                    <ul class="nav navbar-nav">
                      <li>
                        <%= link_to member_home_path do %>
                          <em class="fa fa-th fa-lg"></em><span class="home-text">Home</span>
                        <% end %>
                      </li>
                      <li class="<%= active_if(member_news_path) %>">
                        <%= link_to "News", member_news_path %>
                      </li>
                      <li class="<%= active_if(member_events_path) %>">
                        <%= link_to "Events", member_events_path %>
                      </li>
                      <li class="<%= active_if(directory_path) %>">
                        <%= link_to "Directory", directory_path %>
                      </li>
                      <li class="<%= active_if(pro_shop_path) %>">
                        <%= link_to "Pro Shop", pro_shop_path %>
                      </li>
                      <li class="<%= active_if(course_guide_path) %>">
                        <%= link_to "Course Guide", course_guide_path %>
                      </li>
                      <li class="<%= active_if(results_path) %>">
                        <%= link_to "Results", results_path %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav> <!-- /.navbar-inverse -->