<script>
function getImage (pic){
  var picAddress = pic.getElementsByTagName("img")[0].getAttribute("src")
  //var picAddress = document.getElementById(active).getElementsByTagName('img');
  var openTag = '<img src="';
  var closeTag = '" />'

  var fullAddress = openTag+picAddress+closeTag;
  document.getElementById("showimg").innerHTML = fullAddress;
}
</script>

<style>
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1 !important;
    background-color: #000;
}
.modal-header{
  border-bottom: none;
}
.modal-content{
  width:auto !important;
  margin-top:20% !important;
  background: none !important;
}
.modal-body{
  width:auto !important;
  padding: 0 !important;
  overflow-x:  scroll;
  overflow-y: hidden;
}
.modal-dialog{
  width: auto !important;
  max-width: 1002px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
.close{
  position: fixed !important;
  right: 4% !important;
  margin-top: 10px !important;
}
</style>
<div id="myModal" class="modal fade container col-sm-8" role="modal-dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span style="color: red">&nbsp;&nbsp;X</span></button><span id="showimg"></span>
      </div>
    </div>
  </div>
</div>