<!-- HEADER
================================================== -->

<section id="sectionHeader" class="site-masthead homepage-masthead">
  <!-- Masthead
  ================================================== -->
  
  <div class="masthead section-margin-bottom">
    <%= image_tag("banner-hp-001.jpg", class: "img-responsive hidden-xs", width: "1440", height: "750") %>
    <div class="caption">
      <div class="container">
        <h1>Where you belong</h1>
      </div>
    </div>
  </div>

  <div class="brand-bar">
    <div class="container text-center visible-xs">
      <address>
        <i class="fa fa-map-marker"></i> 3150 Echo Valley Drive <br>
        Norwalk, IA 50211
      </address>
      <p><a href="tel:<%= @settings.phone %>"><i class="fa fa-phone"></i> <%= @settings.phone %></a></p>
    </div>
    <div class="inner hidden-xs">
      <%= image_tag("brand-bar-logo.png", class: "img-responsive img-center hidden-xs") %>
    </div>
  </div>

</section> <!-- /.section-header -->

<section class="white section-padding visible-xs">
  <ul class="nav nav-secondary">
    <li class="<%= active_if(golfcourses_path) %>"><%= link_to 'Course Tour', golfcourses_path %></li><li class="<%= active_if(events_golfcourses_path) %>">
    <%= link_to 'Golf Events', events_golfcourses_path %></li><li class="<%= active_if(practice_facilities_golfcourses_path) %>">
    <%= link_to 'Practice Facilities', practice_facilities_golfcourses_path %></li><li class="<%= active_if(contact_golfcourses_path) %>">
    <%= link_to 'Contact for Golf Pro', contact_golfcourses_path %></li>
  </ul>
</section>

<section class="section-marketing section-padding hidden-xs">
  <div class="container">
    <p class="lead">
      <%= @settings.seo_text %>
    </p>
  </div> <!-- /.container -->
</section>

<section class="section-honors section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-bottom">
        <%= image_tag("logo-gaa-001-sm.png", class: "img-responsive img-center m-bottom") %>
        <p class="text-uppercase text-center lead">
          Awarded the Iowa Golf <br>
          Association's <br>
          <strong>Course of The Year For 2013</strong>
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="section-heading"><small>Echo Valley Country Club</small>Award Winning Course</h3>
        <p class="lead">The award-winning golf course at Echo Valley is set in the beautiful rolling hills of central Iowa, mere minutes away from the heart of Des Moines. Named “2013 Course of the Year” by the Iowa Golf Association, members at Echo Valley enjoy 27 holes of challenging golf, each hole featuring five sets of tees to accommodate players of all levels.</p>
        <p><a href="/golfcourses" class="btn btn-outline text-uppercase">Explore Our Course</a></p>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->

<section class="section-activities section-padding">
  <div id="owl-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-heading heading-divider text-center">
          <small>Membership Has Its Privileges</small>
          Club Benefits &amp; Activities
        </h3>
      </div>
    </div>
    <div class="owl-carousel">
      <% unless @banners.blank? %>
        <% @banners.each_with_index do |b, index| %>
          <div class="item">
            <div class="thumbnail">
              <% unless b.link_to.blank? %>
                  <%= link_to b.link_to do %>
                      <img src="<%= b.banner_image.url(:original) %>" class='img-responsive img-center' alt="b.banner_image.name">
                  <% end %>
              <% else %>
                  <img src="<%= b.banner_image.url(:original) %>" class='img-responsive img-center' alt="b.banner_image.name">
              <% end %>
              <div class="caption">
                <h5><%= b.headline %></h5>
                <p><%= truncate(b.banner_text, :length =>140) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>