<% title 'Membership Information' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Membership Information</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Thank you for your interest in joining Echo Valley Country Club! </p>
        <p>Echo Valley Country Club has been family-owned and family-oriented since its founding in 1969. We emphasize providing our members with an exceptional private club experience at an unbeatable value. We’re a unique combination of first-class facilities and a relaxed, welcoming atmosphere. </p>
        <p>Echo Valley Country Club is where you play a gorgeous 27-hole golf course, the Iowa Golf Association’s 2013 Course of the Year and where you improve your game on top-notch practice facilities. It’s where your family enjoys a beautiful swimming pool with lap lanes and a water slide. It’s where you play on our newly resurfaced tennis court; where your family comes together for a wealth of youth activities; where you enjoy social events and delectable dining at our recently renovated Clubhouse. </p>
        <p>Echo Valley Country Club is where you belong. </p>
        <p>We’re all about gathering with friends and family to enjoy beautiful scenery, superb amenities and even better people. Give me a call or send me an email to find out more. We’d love for your family to join the Echo Valley family.</p>
        <p>
          <address>
          Sincerely, <br>
          Matt Matthias, PGA<br>
          <a href="mailto:Matt.matthias@echovalleycc.com">Matt.matthias@echovalleycc.com</a><br>
          (515) 285-0101
          </address>
        </p>
      </div>
<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <div class="row">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_member_info/GreenLarge.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_member_info/pines-practice.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_member_info/FairwayLarge.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_member_info/DoglegLarge.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



