<% title 'Events Contact' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Events Contact</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/events_sub_nav" %>
</section>
<section class="section-padding">
  <div class="container text-center">
    <p class="lead">To receive more information on hosting special events, send an email to <a href="mailto:events@echovalleycc.com">events@echovalleycc.com</a>  or call <a href="tel:+15152850101">515-285-0101</a>.</p>
  </div>
</section>
<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">We want you to include Echo Valley in all the special occasions of your life. We’re here to help you plan and cater receptions, weddings and more, as well as corporate meetings and golf outings. Let us know what you need and our staff will make it happen. We’re ready to help you create an unforgettable event.</p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_events/deafult-img-DSC_0152.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-001.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-DSC_0270.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-venue-table.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>Weddings</h5>
        <p>Let us help create a memory you’ll cherish for a lifetime. Our clubhouse can accommodate up to 200 guests, with our large outdoor deck area allowing guests to enjoy the natural scenic beauty of our club. Our superb food and beverage professionals will help you plan the perfect menu for your event.</p>
        <h5>Corporate Meetings</h5>
        <p>You business image is important, and Echo Valley knows how to make you look good. We have over 4000 square feet of meeting space at your disposal to create a professional venue for business meetings, corporate retreats, or sales presentations. Our facilities are equipped with wireless Internet and audio-visual equipment. Our food and beverage staff will gladly accommodate refreshments, including breakfast, breaks, lunch or dinner.</p>
      </div>
      <div class="col-sm-6">
        <h5>Banquets</h5>
        <p>Reunion, birthday, anniversary, graduation…you name it…Echo Valley will help you plan the perfect special occasion party. We’re happy to accommodate both small and large parties, and will tailor our facility to meet your needs. Our beverage and dining staff will work with you to create the perfect menu, and will create the ambiance you desire, whether it be casual, elegant, fun or formal.</p>
        <h5>Golf Outings</h5>
        <p>Impress your organization with a golf outing at Echo Valley. Your guests will be thrilled to play on our beautiful and award-winning golf course. Choose from any of our three 9-hole courses, or play all 27 holes. Motorized carts and range balls are included with your outing. Add a lunch or dinner in our beautiful clubhouse to round out a perfect day on the links.</p>
      </div>

    </div>
  </div>
</section>


