<% title 'Food & Beverage' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Food &amp; Beverage</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <ul class="nav nav-secondary">
    <li class="<%= active_if(venue_events_path) %>"><%= link_to "Venue", venue_events_path %></li><li class="<%= active_if(photo_gallery_events_path) %>">
    <%= link_to "Photo Gallery", photo_gallery_events_path %></li><li class="<%= active_if(food_beverage_events_path) %>">
    <%= link_to "Food & Beverage", food_beverage_events_path %></li><li class="<%= active_if(directions_events_path) %>">
    <%= link_to "Directions", directions_events_path %></li><li class="<%= active_if(contact_events_path) %>">
    <%= link_to "Events Contact", contacts_path(contact_person: 'events@echovalleycc.com') %></li>
  </ul>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <p>We have full food and beverages facilities on-site. Our chefs will work with you to customize menus for either a plated meal or a buffet. Options include breakfast, lunch, dinner and hors d'oeuvres. We are happy to accommodate any dietary restrictions, including vegetarian, vegan and gluten-free options.</p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("assets_events/deafult-img-DSC_0152.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-001.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-DSC_0270.jpg", class: "img-responsive col-xs-6 m-bottom") %>
          <%= image_tag("assets_events/default-img-venue-table.jpg", class: "img-responsive col-xs-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



