<% title 'Special Events' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Special Events</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/events_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Echo Valley is the perfect host for all the special events in your life. A private club surrounded by natural beauty in Norwalk, Echo Valley's convenient location combines the amenities and accessibility of Des Moines with the peace and privacy of rural Iowa.</p>

        <p>From weddings to holiday parties, from baby showers to graduation parties, we make special events happen. Our facility is also perfect for corporate or charity golf outings, corporate meetings, luncheons, and more. We’re here to put your plans into action with a dedicated events team to get all the details right, including on-site catering. Our team takes the stress out of organizing events by turning your vision into a perfectly executed reality. We’re ready to create your unforgettable event.</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><a href="http://www.theknot.com/marketplace/echo-valley-country-club-norwalk-ia-593404?utm_source=vendor_website&utm_medium=banner&utm_term=e5dfa8d0-2435-4c56-9c8b-c80cabb7aa8b&utm_campaign=vendor_badge_assets" target="_blank"><img src="//www.xoedge.com/myaccount/2012/grab-a-badge/as-seen-in/magazine-v3/ASI_3.png" width="115" height="195" alt="As Seen in The Knot Magazine" border="0"></a></p>
      </div>
<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_events/Venue1Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue2Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue3Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue4Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>

          <hr style="border-color: #999;">
          <h5>FROM OUR GUESTS</h5>
          <br />
          <p><i class="fa fa-quote-left"></i> The membership and staff at Echo Valley are some of the best people we work with all year. They always make us feel welcome and appreciated when we are on-site for any IGA event. The way they have gotten behind and embraced the Herman Sani Tournament and Scholarship Program has been a true boost to our efforts. We are forever grateful. <i class="fa fa-quote-right"></i></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">Chad Pitts, Iowa Golf Association</strong></p>
          <hr>
          
          <br />
          <p><i class="fa fa-quote-left"></i> I want to personally thank you for making our experience at Echo so enjoyable this year. It was a pleasure being there for our golf outing and your staff made my life so much easier that day. I am so grateful for your hospitality and look forward to being at Echo Valley again next year. Thanks again. <i class="fa fa-quote-right"></i></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">Lisa Majors-Schissel, Big Brothers Big Sisters of Central Iowa</strong></p>
          <hr>
          
          <br />
          <p><i class="fa fa-quote-left"></i> We wanted to let you know our anniversary dinner party exceeded expectations and was an absolutely wonderful evening. Thanks to all the staff who were so gracious in making sure we had everything we requested and for accommodating changes to our original arrangements. The room was beautifully put-together and we appreciate all your work to make our dinner very special for us, our family and our friends. Last but not least, the food was wonderful--thank you so much for having our event and making our dinner super special. We are very happy! <i class="fa fa-quote-right"></i></p>
          <p class="text-right"><strong style="position:relative; bottom: -10px; border-bottom: 5px solid #000; font-size: 18px;">Todd and Kathy Dunning</strong></p>
          <hr>

        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



