<% title 'Photo Gallery' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Photo Gallery</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive img-center masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/events_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">

    <div id="photoGallery" class="row photo-gallery" style="relative">
      <div class="col-xs-4 m-bottom m-bottom">
        <%= image_tag("golf_events/web-sm/2014pines.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/2014pines.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/10013838_677526965655282_4068004150461275679_n.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/10013838_677526965655282_4068004150461275679_n.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/batcart.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/batcart.jpg")) ) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/batman-and-robin.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/batman-and-robin.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/couples-guest-twilight-2.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/couples-guest-twilight-2.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0051.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0051.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0052.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0052.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0055.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0055.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0056.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0056.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0057.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0057.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0058.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0058.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0059.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0059.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0060.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0060.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0082.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0082.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/DSC_0092.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/DSC_0092.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/Golf-carts-event.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/Golf-carts-event.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/IMG_0149.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/IMG_0149.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/IMG_0778-(1).jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/IMG_0778-(1).jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/jordan-weber-2015-club-championship.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/jordan-weber-2015-club-championship.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/parent-child.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/parent-child.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/pines-player.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/pines-player.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/pines-practice.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/pines-practice.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("golf_events/web-sm/Val-Weis-2015-ladies-club-championship.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("golf_events/web-lg/Val-Weis-2015-ladies-club-championship.jpg"))) %>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->




