<% title 'Photo Gallery' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Photo Gallery</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive img-center masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/events_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">

    <div id="photoGallery" class="row photo-gallery" style="relative">
      <div class="col-xs-4 m-bottom m-bottom">
        <%= image_tag("assets_events/gallery1.png", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery1.png"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery2.png", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery2.png"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery3.png", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery3.png")) ) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery4.png", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery4.png"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery5.png", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery5.png"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery6.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery6.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery7.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery7.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery8.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery8.jpg"))) %>
      </div>
      <div class="col-xs-4 m-bottom">
        <%= image_tag("assets_events/gallery9.jpg", class: "thumbnail img-responsive img-center", 'data-src': (image_path("assets_events/gallery9.jpg"))) %>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->




