<% title 'Venue' %>

<!-- HEADER
================================================== -->
<section class="site-masthead section-events">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Venue</h1>
      </div>
    </div>
    <%#= image_tag("masthead-sub-001.jpg", class: "img-responsive masthead-img") %>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <%= render "shared/events_sub_nav" %>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><p>Our upstairs venue hosts any occasion beautifully, with panoramic views of the surrounding golf course and a spacious balcony devoted exclusively to your event. Our event space accommodates up to 240 guests, with an open floor plan that allows you to set up the space as you desire. We provide tables, chairs, linens, a dance floor, and access to the balcony. The Clubhouse has 276 convenient on-site parking spots, including six handicap spots. The venue is wheelchair accessible. Event venue rental fees are waived for Echo Valley members.</p></div>
<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <div class="row">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_events/Venue1Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue2Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue3Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_events/Venue4Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> <!-- /.section-honors -->



