<% title 'Contact Us' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
        <% if notice %>
            <div id="notice" class="alert alert-warning">
              <h4><%= notice %></h4>
            </div>
        <% end %>
        <% if @contact.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @contact.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <h4>Let us know if you have any questions.</h4>
        <%= form_for @contact, :html => {:role => 'form'} do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Enter your name:' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'Email:' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :contact_person, 'Contact Person:' %>
              <%= f.select :contact_person, options_for_select(
                                                  [['Accountant', 'james.zurek@echovalleycc.com'],
                                                   ['Clubhouse Manager', 'rod.dempsey@echovalleycc.com'],
                                                   ['Golf Course Maintenance', 'chris.doocy@echovalleycc.com'],
                                                   ['Golf Pro Shop', 'adam.l@echovalleycc.com'],
                                                   ['Prospective Membership and Marketing', 'matt.matthias@echovalleycc.com'],
                                                   ['Aquatics', 'ethan.johnston@echovalleycc.com'],
                                                   ['Events', 'events@echovalleycc.com']
                                                  ], params[:contact_person] || ''
                                          ), {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :message, 'Message:' %>
              <%= f.text_area :message, class: 'form-control', :rows => 3 %>
            </div>

            <div class="form-group">
              <%= f.submit 'Submit', class: 'btn btn-default' %>
            </div>

        <% end %>
  </div>
</section>