<%= semantic_form_for [:admin, @media_file], :html => { :multipart => true }  do |f| %>
    <%= f.semantic_errors *f.object.errors.keys %>
    <% if params[:action] == 'edit' %>
        <%= f.inputs 'Media File Info' do %>
            <%= f.input :file_file_name, :label => 'File Name', :input_html => { :disabled => true } %>
        <% end %>
    <% end %>
    <%= f.inputs 'Upload File (2 MB or less in size)' do %>
        <%#= file_field_tag "client_files[]", type: :file, multiple: true %>
        <%= f.input :file, :required => true, :as => :file, multiple: true, :hint => image_tag(f.object.file.url(:thumb)) %>
    <% end %>
    <%= f.actions do %>
        <%= f.action :submit %>
        <li class="cancel"><%= link_to "Cancel", admin_media_files_path %></li>
    <% end %>
<% end %>
