<% title 'HomeShowExpo' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>HomeShowExpo</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <ul class="nav nav-secondary">
    <li class="<%= active_if(community_homes_path) %>"><%= link_to "Community", community_homes_path %></li><li class="<%= active_if(developments_homes_path) %>">
    <%= link_to "Developments", developments_homes_path %></li><li class="<%= active_if(businesses_homes_path) %>">
    <%= link_to "Businesses", businesses_homes_path %></li><li class="<%= active_if(homeshowexpo_homes_path) %>">
    <%= link_to "HomeShowExpo", homeshowexpo_homes_path %></li><li class="<%= active_if(contact_homes_path) %>">
    <%= link_to "Real Estate Contact", contact_homes_path %></li>
  </ul>
</section>
<section class="white section-padding-bottom">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quas quisquam sint dolor eius ipsum asperiores eaque, accusantium fugiat ullam ut? Quisquam eligendi, hic tempore aliquid numquam ducimus voluptates, rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quas quisquam sint dolor eius ipsum asperiores eaque, accusantium fugiat ullam ut? Quisquam eligendi, hic tempore aliquid numquam ducimus voluptates, rem.</p>
  </div>
</section> <!-- /.section-honors -->



