<% title 'Homes' %>

<!-- HEADER
================================================== -->
<section class="site-masthead" style="background-image:url(<%= image_path("masthead-sub-002.jpg") %>)">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Homes</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Call Echo Valley Home</h4>
        <p class="lead">With the laid back rural Iowa feel that Echo Valley offers to our residents, it’s easy to forget how close you really are to the pulse of our vibrant business and social community.</p>

        <p>Located just three minutes from the Des Moines International Airport, eight minutes from the downtown core, and ten minutes from the Jordan Creek business and shopping districts, Echo Valley is ideally situated to help you get anywhere you need to be in Central Iowa. Echo Valley encompasses nearly 1,000 acres of Central Iowa’s beautiful rolling hills. Our developing community offers several residential opportunities, including estate living, single-family lots, and townhomes and villas, all located along the beautiful green space of our golf course. Our award winning 27-hole course was named 2013 Course of the Year by the Iowa Golf Association. The nine holes of The Ridge are elevated to offer stunning vistas of downtown Des Moines.</p>

      <p>Developed along these links, our Ridge housing community offers equally stunning views, and was featured in The Homebuilders Association of Iowa’s Home Show Expo 2014. This luxurious development features Middle Creek, a natural waterway that runs through the property. Middle Creek is a refuge for deer, turkey and pheasant—all wildlife you are likely to see while relaxing on your deck. And with Echo Valley’s wealth of mature trees, you’ll love experiencing the colors and changes unique to each of Iowa’s seasons.</p>

      <p>We think you’ll agree that Echo Valley offers the most desirable home sites on the market today.</p>

      <p><strong>For more information about homes at The Ridge at Echo Valley, call Michael Coppola or Scott McMurray at 515-285-8880</strong></p>
      </div>
<!-- Modal -->
<%= render "shared/popup_modal" %>
<!-- End Modal Setup -->
      <div class="col-sm-6">
        <div class="row">
          <div id="holeCarousel" class="coursehole-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to(image_tag("assets_homes/Home1Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_homes/Home2Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_homes/Home3Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>

              <div class="item">
                <%= link_to(image_tag("assets_homes/Home4Large.jpg", class: "img-responsive", size: "600x440"), "#", data: {toggle: "modal", target: "#myModal"}, "onclick"=>"getImage(this)") %>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#holeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#holeCarousel" data-slide-to="1"></li>
              <li data-target="#holeCarousel" data-slide-to="2"></li>
              <li data-target="#holeCarousel" data-slide-to="3"></li>
            </ol>
              <!-- Controls -->
              <a class="left carousel-control" href="#holeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#holeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->
<section class="section-padding white">
  <div class="container">
    <h3 class="section-heading heading-divider text-center">
      Residents of Echo Valley Experience Luxury Living
    </h3>
  </div>
</section>
<section class="gray section-padding">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <a href="<%= image_path("VillageRidge_AvailableMap_v02.png") %>" target="_blank"><%= image_tag("VillageRidge_AvailableMap_v02.png", class: "img-responsive img-center hidden-xs") %> <span class="btn btn-outline visible-xs">View Lots</span> </a>
      </div>
      <div class="col-md-6">
        <%= image_tag("VillageRidgeLogo-Lg.png", class: "img-responsive img-center", style: "max-width: 300px; max-height: 113px;") %>
        For more information contact:
        <h5>Michael Coppola or Scott McMurray <i class="fa fa-phone text-mutted"></i>515-285-8880</h5>
        <!-- <p><a href="http://thevillageontheridge.com/" target="_blank" class="btn btn-outline with-icon"><span>View Full Details</span> <i class="fa fa-external-link-square"></i></a></p> -->
      </div>
    </div>
  </div>
</section>
<section class="black section-padding">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <a href="<%= image_path("TheRidge_AvailableMap_v02.jpg") %>" target="_blank"><%= image_tag("TheRidge_AvailableMap_v02.jpg", class: "img-responsive img-center hidden-xs") %> <span class="btn btn-outline visible-xs">View Lots</span></a>
      </div>
      <div class="col-md-6">
        <%= image_tag("RidgeLogo-Lg.png", class: "img-responsive img-center", style: "max-width: 300px; max-height: 113px;") %>
        For more information contact:
        <h5>Michael Coppola or Scott McMurray <i class="fa fa-phone text-mutted"></i>515-285-8880</h5>
        <p><a href="http://www.vistarei.com/residential-developments/35-the-ridge-at-echo-valley-plats-2-am/" target="_blank" class="btn btn-outline with-icon"><span>View Full Details</span> <i class="fa fa-external-link-square"></i></a></p>
        <span class="text-uppercase">Site of The</span>
        <%= image_tag("HomeShowLogo@2x.png", class: "img-responsive img-center", style: "max-width: 250px; max-height: 40px;") %>
      </div>
    </div>
  </div>
</section>
<section class="gray section-padding">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <a href="<%= image_path("TheEstates_AvailableMap.jpg") %>" target="_blank"><%= image_tag("TheEstates_AvailableMap.jpg", class: "img-responsive img-center hidden-xs") %> <span class="btn btn-outline visible-xs">View Lots</span></a>
      </div>
      <div class="col-md-6">
        <%= image_tag("EstatesLogo-Lg.png", class: "img-responsive img-center", style: "max-width: 300px; max-height: 113px;") %>
        For more information contact:
        <h5>Michael Coppola or Scott McMurray <i class="fa fa-phone text-mutted"></i>515-285-8880</h5>
        <p><a href="http://www.vistarei.com/residential-developments/41-estates-on-the-ridge-norwalk-ia/" target="_blank" class="btn btn-outline with-icon"><span>View Full Details</span> <i class="fa fa-external-link-square"></i></a></p>
      </div>
    </div>
  </div>
</section>


