/*
*= require jquery.fileupload
*= require jquery.fileupload-ui
*/
.thumbnail .caption {
  padding: 9px;
  color: #333;
  overflow: auto;
  height: 35px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
}