//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);
@import "libs/custom-marker-icons.scss";
@import "libs/_weather-font.scss";


// ================================================== */
// ==/ Globals /================================================ */
// ================================================== */




//
// Typography
// --------------------------------------------------
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  @media (max-width: $grid-float-breakpoint) {font-size: $font-size-h4;}
}
h3 {
  // @media (max-width: $grid-float-breakpoint) {font-size: $font-size-h5;}
}
h4,h5,h6,.h4,.h5,.h6 {
  font-family: $font-family-serif;
  font-weight: 400;
}
h4 {
  text-transform: uppercase;
  font-weight: bolder;
}
h3 {
  a {color: inherit;}
}

.article-headline {

}

.section-heading {
  margin-top: 0;
  @media (max-width: $grid-float-breakpoint) {text-align: center;}
  small,
  .small {
    font-size: $font-size-h5;
    text-transform: uppercase;
    display: block;
    font-family: $font-family-serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (max-width: $grid-float-breakpoint) {font-size: $font-size-h6;}
  }
}

.heading-divider {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 60px;
    border-bottom: 2px solid $brand-danger;
    left: 50%;
    margin-left: -30px;
  }
}



.lead {
  font-size: $font-size-large;
  font-weight: normal;
  line-height: 28px;
  color: #000;
  // @media (max-width: $grid-float-breakpoint) {font-size: $font-size-small;}
}

.lead-xl {
  font-size: $font-size-h4;
  font-weight: lighter;
  line-height: ($font-size-h4 + 10px);
  @media (max-width: $screen-xs) {font-size: $font-size-large;}
}

a.link-fake {color: $text-color;}

a[href^=tel] {
  color: inherit;
  cursor: default;
  &:hover {
    text-decoration: none;
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.text-uppercase {
  text-transform: uppercase;
}


blockquote {
  color: #000;
  small:before {display: none;}
  p {
    position: relative;
    &:before {
      content: "\0022";
      font-size: 40px;
      line-height: 40px;
      font-weight: bolder;
      width: 30px;
      height: 30px;
      color: #000;
      font-style: italic;
      position: absolute;
      display: inline-block;
      left: -30px;
      top: 0;
    }
    &:after {
      content: "\0022";
      font-size: 40px;
      font-weight: bolder;
      line-height: 1%;
      color: #000;
      font-style: italic;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}



.truncate {
  display: inline-block;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




//
// Button
// --------------------------------------------------
.btn {
  padding-left: 25px;
  padding-right: 25px;
  font-size: $font-size-small;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-outline {
  @include button-variant(#000, transparent, #000);
  &.with-icon {
    position: relative;
    @include transition(all 0.2s linear);

    span {
      position: relative;
      left: 0;
      @include transition(all 0.2s ease-out);
    }

    i {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -6px;
      opacity: 0;
      @include transition(all 0.2s ease-out);
    }
    &:hover {
      span {left: -10px;}
      i {right: 15px;opacity: 1;}
    }
  }
}



//
// Nav
// --------------------------------------------------
.nav-secondary {
  text-align: center;

  > li {
    display: block;
    border-bottom: 1px solid #000;
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: $screen-sm) {
      display: inline-block;
      border-bottom: 4px solid #f0f1f2;
      margin-left: 0;
      margin-right: 0;
      &:first-child {padding-left: 10px;}
      &:last-child {padding-right: 10px;}
    }

    @media (min-width: $screen-lg) {
      padding-left: 20px;
      padding-right: 20px;
    }

    > a {
      font-family: $font-family-serif;
      text-transform: uppercase;
      display: block;
      padding-bottom: ($navbar-padding-vertical / 2);
      padding-left: 5px;
      padding-right: 5px;
      letter-spacing: 1.5px;
      font-weight: bold;

      @media (min-width: $screen-sm) {
        border-bottom: 4px solid #f0f1f2;
        margin-bottom: -4px;
        &:hover {
          border-bottom: 4px solid $brand-danger;
          text-decoration: none;
          background-color: transparent;
        }
      }

      @media (min-width: $screen-md) {
        font-size: $font-size-h5;
      }

    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        border-bottom-color: $brand-danger;
        color: #000;
        background-color: transparent;
      }
    }
  }
}
.nav {
  &.nav-inline > li {
    display: inline-block;
    float: none;
    > a {
      font-family: $font-family-serif;
      font-weight: bold;
      font-size: $font-size-h5;
      padding: 10px 5px;
      &.active {
        border-bottom: 4px solid $brand-danger;
      }
    }
  }
}




//
// Lists
// --------------------------------------------------
.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    position: relative;

    &[class^="fa-"] {
      padding-left: 15px;

      &:before {
        display: block;
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        left: 0;
      }
    }
  }
}







//
// Images
// --------------------------------------------------
.img-center {
  display: block;
  margin: auto;
}

.thumbnail-hover-circle {
  width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
  margin: 0 auto 25px;
  background-position: center center;
  background-repeat: no-repeat;
  @include transition(all 0.2s ease-in-out);

  @media (max-width: $screen-xs) {
    width: 210px;
    height: 210px;
  }

  > .thc-caption {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 110px;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    
    @media (max-width: $screen-xs) {
      padding-top: 60px;
    }

    h4 {
      color: #FFF;
      font-size: 30px;
      font-weight: bold;
    }
    .btn {
      &.btn-outline {
        @include button-variant(#FFF, transparent, #FFF);
      }
    }

    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;right: 0;
      background: rgba(0,0,0, 0.7);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      @include transition(all 0.2s ease-in-out);
      @include transition( scale(0) );
      -webkit-backface-visibility: hidden;
    }
  }

  &:hover,&.inverse {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
    .thc-caption:after {
      @include transition( scale(0) );
      opacity: 1;
    }
  }
  > img {}
}

//
// tables
// --------------------------------------------------
// Common styles
table td .img-responsive {width: 100%;}

.table {
  th {
    font-size: $font-size-h5;
  }
  >tbody>tr.lightgray {
    >td,>th {background-color: #F0F1F2;}
  }
  >tbody>tr.darkgray {
    >td,>th {background-color: #D7D8D9;}
  }
  >tbody>tr.blue {
    >td,>th {background-color: #C3DAF1;}
  }
  >tbody>tr.gold {
    >td,>th {background-color: #F2E9C4;}
  }
}




//
// Well
// --------------------------------------------------
.well {
  border-radious: 0;
}



//
// Grid
// --------------------------------------------------
.col-centered{
  float: none;
  margin: 0 auto;
}



//
// Media
// --------------------------------------------------
@media (max-width: $screen-xs) {
  .media,
  .media-body {
    overflow: visible;
  }

  .media-body {
    width: auto;
  }

  .media-object {
    display: block;
    margin: auto;
  }

  .media-right,
  .media > .pull-right {
    padding-left: 0;
    float: none;
  }

  .media-left,
  .media > .pull-left {
    padding-right: 0;
    float: none;
  }

  .media-left,
  .media-right,
  .media-body {
    display: block;
  }
}



//
// Google Maps
// --------------------------------------------------
.g-map-course {
  height: 775px;
  background-color: #333;

  &.full-screen {
    margin: 0;
    border: none;
    height: auto;
    z-index: 9999 !important;
  }

  @media (max-width: $screen-xs) {
    height: 0;
  }
  
}

.overlay {  
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  .button-fullscreen {
    position: absolute;top:0;
    z-index: 2;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
  .g-map-course {
    width: 100%;
    height: 100%;
  }
}


//
// Sections
// --------------------------------------------------
.section-padding {
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $screen-sm) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.section-padding-top {padding-top: 75px;}
.section-padding-bottom {padding-bottom: 75px;}

.section-padding-sm {
  padding-top: 35px;
  padding-bottom: 35px;
}
.section-padding-sm-top {padding-top: 35px;}
.section-padding-sm-bottom {padding-bottom: 35px;}

.white {
  background-color: #FFF;
}
.lightgray {
  background-color: #DCDDE0;
}
.gray {
  background-color: #333;
  * {color: #FFF;}
  .btn-outline {
    @include button-variant(#FFF, transparent, #FFF);
  }
}
// .gray {background-color: #e3e4e5;}
.black {
  background-color: #000;
  * {color: #FFF;}
  .btn-outline {
    @include button-variant(#FFF, transparent, #FFF);
  }
}










// ================================================== */
// ==/ PRIMARY STYLES /================================================ */
// ================================================== */
.site-wrapper {background-color: $body-bg;}
.nav-is-visible {
  .site-wrapper {
    overflow: hidden;
    position: fixed;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}


// Offcanvas Menu
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  // -webkit-transform: translate3d(0, 0, 0);
  //    -moz-transform: translate3d(0, 0, 0);
  //     -ms-transform: translate3d(0, 0, 0);
  //      -o-transform: translate3d(0, 0, 0);
  //         transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  background-color: #333;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}


.snap-drawer {
  .go-back {display:block;}
  .home-text {padding-left: 15px;}
  .navbar-nav, .navbar-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-nav > li, .navbar-nav ul > li {position: static;}
  .navbar-nav > li > a, .navbar-nav ul a {
    position: static;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #3a3f40;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    &:hover,&:focus,&:active {background-color: transparent;}
  }
  .navbar-nav .has-children > a {
    &:after {
      content: "\f105";
      display: inline-block;
      padding: 0 15px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }
  }
  .navbar-nav.is-hidden, .navbar-nav ul.is-hidden {
    /* secondary navigations hidden by default */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .navbar-nav.moves-out > li > a, .navbar-nav ul.moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

}










// ================================================== */
// ==/ HEADER CONTENT /================================================ */
// ================================================== */
.site-navigation {
  position: absolute;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $font-family-serif;
  background-color: rgba(244,244,244,.5);
} // end Navigation


.top-navigation {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  p {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    margin: 0;
  }
}
.toggle-menu {
  display: block;
  &:hover,&:active,&:focus {text-decoration:none;}
  span {
    display: inline-block;
    height: 30px;
    vertical-align: bottom;
  }
  i.icon-bars {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    span {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 50%;
      margin-top: -2px;
      left: 0;
      @include transition(background-color .3s .3s);
      background-color: #000;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        @include transform(translateZ(0));
        @include backface-visibility(hidden);
        @include transition(transform .3s .3s);
      }
      &::before {
        @include transform(translateY(-8px) rotate(0));
      }
      &::after {
        @include transform(translateY(8px) rotate(0));
      }
    }
    &:hover,&:focus,&:active {color: transparent;}
    [class^='snapjs'] & {
      span {
        background-color: rgba(#000, 0);
        &::before {
          @include transform(translateY(0) rotate(-45deg));
        }
        &::after {
          @include transform(translateY(0) rotate(45deg));
        }
      }
    }

  }
  @media (min-width: $screen-sm) {
    display: none;
  }
}
.button-login {
  font-size: inherit;
  color: #000;
  i {
    font-size: 24px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
}
.navbar-primary {
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  margin-bottom: 0;

  .navbar-brand {
    width: 100%;
    @media (max-width: $grid-float-breakpoint) {
      float: none;
      display: block;
      max-width: 250px;
      margin: auto;
      > img {display: block;margin: auto;}
    }
  }

  .navbar-nav {
    text-align: right;
    float: right;
    margin-right: -15px;

    > li {
      display: inline-block;
      position: relative;

      &:first-child {padding-left: 0;}
      &:last-child {padding-right: 0;}
      @media (min-width: $screen-lg) {
        padding-left: 10px;
        padding-right: 10px;
      }
      > a {
        display: block;
        font-weight: bolder;
        border-bottom: 4px solid transparent;
        padding-bottom: ($navbar-padding-vertical - 4);
        padding-left: 8px;
        padding-right: 8px;

        @media (min-width: $screen-md) {
          padding-left: 15px;
          padding-right: 15px;
          font-size: $font-size-h6;
        }

        &:hover {
          border-bottom: 4px solid $brand-danger;
          text-decoration: none;
        }
        .home-text {
          padding-left: 15px;
          @media (min-width: $grid-float-breakpoint) {display: none;}
        }
      }
      // Active state
      &.active > a {
        &,
        &:hover,
        &:focus {
          border-bottom-color: $brand-danger;
          background-color: transparent;
        }
      }
    }
    > li > ul {
      min-width: 100%;
      background-color: rgba(255,255,255,.8);
      border: none;
      border-top: 4px solid $brand-danger;
      margin-top: -4px;
      @extend .dropdown-menu;

      &:before {
        content: "";
        position: absolute;
        left: 40px;
        top: -15px;
        display: block;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid $brand-danger;
      }
      li > a {
        font-size: $font-size-small;
        text-transform: none;
        &.go-back {display:none;}
      }
    }
    > li:hover > ul {display: block;}
  }
}





.site-masthead {
  background-size: cover;
  position: relative;
  height: 300px;
  overflow: hidden;
  background-color: #333;
  background-image:  image-url("masthead-sub-001.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  &.section-club {background-image: image-url("assets_club/masthead-img-FullSizeRender.jpg") }
  &.section-events {background-image: image-url("assets_events/masthead-img-IMG_0453.jpg") }
  &.section-member-home {background-image: image-url("home-header-image.png") }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,.6)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);


    h1 {
      color: #FFF;
      letter-spacing: -1px;
      @media (max-width: $grid-float-breakpoint) {
        font-size: 48px;
        text-align: center;
      }
    }
  }
}

.homepage-masthead {
  height: auto;
  background: #333 image-url("banner-hp-001.jpg") no-repeat center center;

  @media (max-width: $grid-float-breakpoint) {
    height: 400px;
  }

  .caption {
    top: 30%;bottom:auto;
    left: 0;right: 0;
    background: none;

    h1 {
      color: #000;
      text-align: center;
    }
  }

  .brand-bar {
    background-color: $gray-base;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    color: #FFF;
    font-size: $font-size-small;
    font-weight: bolder;
    font-family: $font-family-serif;
    text-transform: uppercase;
    line-height: 100%;

    @media (max-width: $screen-md) {
      height: 75px;
    }
    @media (max-width: $grid-float-breakpoint) {
      background-color: rgba(0,0,0,.5);
    }

    address {
      margin-bottom: 10px;
      line-height: 100%;
    }
    .inner {
      position: absolute;
      width: 100%;
      left: 0;bottom: 0;right: 0;
      > img {
        @media (max-width: $screen-md) {height: 160px;}
      }
    }
  }


}








// ================================================== */
// ==/ BODY CONTENT /================================================ */
// ================================================== */
.main-content {
  position: relative;
}

.section-marketing {
  background-color: #FFF;
  .lead {
    font-size: $font-size-h4;
    line-height: 40px;
    font-weight: lighter;
  }
}

.section-honors {
  background: image-url("golf-honors-bg-001.jpg");
  background-size: cover;
  @media (max-width: $screen-md) {
    .btn-outline {
      display: block;
    }    
  }

}

.section-activities {
  background-color: #FFF;
}

.section-golfinfo {
  background: image-url("golf-bg-img-005.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  // background-size: cover;
}

.feature-icons {
  height: 125px;
  margin: 10px 0;
  > img {margin-bottom: 10px;}
  p {line-height: 100%;}
}




.btn-courseselect {
  font-size: $font-size-h4;
  font-family: $font-family-serif;
  font-weight: bolder;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.coursehole-carousel {
  margin-bottom: 60px; 
  .carousel-indicators {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    bottom: auto;
    .active {
        margin: 0;
        width: 15px;
        height: 15px;
        background-color: red;
    }
    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        border: 1px solid #AAA;
        border-radius: 10px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: #EEE;
    }
  }
}
.carousel-control {
  opacity: 0;
}
.nav-holenumbers.nav {
  >li > a {padding-left: 3px;padding-right: 3px;}
}


// ================================================== */
// ==/ FOOTER CONTENT /================================================ */
// ================================================== */
.site-footer {
  font-size: $font-size-small;
  color: #000;
  background-color: #f0f1f2;

  @media (max-width: $screen-md) {
    text-align: center;
  }

  .footer-section-dark {
    padding: 1em 0 0;
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    a {color: inherit;}
    .btn i {
      vertical-align: middle;
    }
    .button-email i {
      padding-right: 10px;
      margin-top: -4px;
    }
    .button-social {
      .icon-on-left {margin-right: 10px;}
    }
    .fa-inverse {color: #000;}

    @media (max-width: $screen-md) {
      .row {}
      div[class^="col-md"] {
        border-bottom: 1px solid #333;
      }
      .btn {
        display: block;
      }
    }

  }
}











/// ================================================== */
// ==/ MISC /================================================ */
// ================================================== */
.p-top {padding-top: $grid-gutter-width;}
.p-bottom {padding-bottom: $grid-gutter-width;}
.p-left {padding-left: $grid-gutter-width;}
.p-right {padding-right: $grid-gutter-width;}

.m-top {margin-top: $grid-gutter-width;}
.m-bottom {margin-bottom: $grid-gutter-width;}
.m-left {margin-left: $grid-gutter-width;}
.m-right {margin-right: $grid-gutter-width;}


.pull-left-lg {
  @media (min-width: $screen-lg) {
    float: left !important;
  }
}
.pull-left-md {
  @media (min-width: $screen-md) {
    float: left !important;
  }
}
.pull-left-sm {
  @media (min-width: $screen-sm) {
    float: left !important;
  }
}
.pull-left-xs {
  @media (min-width: $screen-xs) {
    float: left !important;
  }
}
.pull-right-lg {
  @media (min-width: $screen-lg) {
    float: right !important;
  }
}
.pull-right-md {
  @media (min-width: $screen-md) {
    float: right !important;
  }
}
.pull-right-sm {
  @media (min-width: $screen-sm) {
    float: right !important;
  }
}
.pull-right-xs {
  @media (min-width: $screen-xs) {
    float: right !important;
  }
}

.food-menu table, table th, table td{
    border:none !important;
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
#dish{
  padding-bottom:25px;
}
#menu-hidden{
  display: block;
}
#hide-menu{
  display: none;
}

.block-element {display: block;}

.not-hp .hide-element {display: none;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 0 0 1em;
    padding: 0;
}

//
// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
// --------------------------------------------------
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

//
// Remove default fieldset styles.
// --------------------------------------------------
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

//
// Allow only vertical resizing of textareas.
// --------------------------------------------------
textarea {
    resize: vertical;
}


@media print {
   * {
    position: static !important;
    float: none !important;
  }
  .row {
    clear: both !important;
  }
  // Don't show links for images, or javascript/internal links
  a[href]:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
    display: none !important;
  }
}


/*==================================
          Member's Section
          =====================================*/

  /* ------------ Member Nav ------------------*/
  .far-right{
    float: right;
  }
  .m-options{
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    min-height: 200px;
    background:#222;
    z-index: 99;
    padding: 15px;
    right: 15px;
    top: 45px;
    text-align: left;
    line-height: 3em;
    font-size: 14px;
  }
  .m-options a{
    color: #FFF;
  }
  .m-options a:hover{
    text-decoration: none;
    border-bottom: 1px solid red;
  }
  #m-up-arrow{
    display: none;
    text-decoration: none;
    font-size:18px !important;
    margin-left: -20px;
  }
  #m-down-arrow{
    position: relative;
    text-decoration: none;
    font-size:18px !important;
    margin-left: -20px;
    padding-top: 5px;
  }
  /*-------------- Member Home ------------*/
.info-banner{
  min-height: 185px;
  height: auto;
  width: auto;
  background: #e3e3e6;
}
.course-status{
  margin-top: 50px;
  min-height: 180px;
}
.course-status #title{
  font-weight: 700;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  padding-left: 70px;
}
.course-status img{
  margin-top: -10px;
}
.course-status{
  border-right: 1px solid #FFF;
}
.course-img{
  position: absolute;
}
#status-body{
  margin-left: 69px;
  width: 300px;
  margin-top: -50px;
}
.status-body{
  margin-left: 69px;
  width: 300px;
  margin-top: 50px;
}
#status-head{
  padding-left: 69px;
}
.sm-red-div{
  border: 1px solid #cc0000;
  width: 60px;
  margin: 0 auto;
}
.view-all-container{
  position: relative;
  height: 40px;
  width: 270px;
  margin: 0 auto;
}
.view-all-btn{
  position:relative;
  height: 40px;
  width: 400px;
  background:#FFF;
  border: 1px solid #111;
  padding:7px 30px 7px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top:15px;
}
.view-all-btn:hover{
  background:#222;
  color: #FFF !important;
  cursor: pointer;
  text-decoration: none;
}
.clip-container{
  height: 500px;
  width: auto;
}
.clip-image{
  width: auto;
  max-width: 268px;
}
.clip-body{
  width: auto;
  max-width: 268px;
  border-left: 1px solid #e3e3e6;
  border-right: 1px solid #e3e3e6;
  border-bottom: 1px solid #e3e3e6;
  text-align: center;
  height: 200px;
}
.clip-body-news{
  text-align: left;
  height: 200px;
}
.clip-title{
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  padding-bottom:15px;
  padding-top:7px;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.clip-title-news{
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  padding-bottom:15px;
  padding-top:7px;
  color: #000;
  text-align: left;
}
.clip-body-news a{
  color: #000;
}
.clip-body-news a:hover{
  color:#cc0000;
}
/* ----------------- 
            Weather Section
            ---------------------------*/
#weather {
  margin: 0px auto;
  text-align: left;
  text-transform: uppercase;
}
/* ----------------- 
            Resloution Section
            ---------------------------*/

  .course-status #title{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-left: -68px;
  }
  .course-status img{
    padding-top: 15px;
  }
  .course-status{
    border-right: 1px solid #FFF;
  }
  .course-img{
    margin-top: 50px;
  }
  #status-body{
    margin-left: 69px;
    width: 250px;
    margin-top: -47px;
  }
  .status-body{
    margin-left: 69px;
    width: 250px;
    margin-top: -17px;
  }
  #status-head{
    margin-left: -68px;
  }
  #w-icon {
    margin-left: -30px;
    margin-top: -25px;
    font-size: 80px;
    color: #000;
  }
  #temp-icon{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    width: 80%;
    margin-top: -90px;
    margin-left: 50px;
  }
  #high-icon{
    float: left;
    color: #000;
    font-size: 20px;
  }
  #low-icon{
    float: right;
    color: #000;
    font-size: 20px;
    padding-right:40px;
  }
  #wind-icon{
    float: left;
    color: #000;
    font-size: 20px;
  }

@media screen and (max-width: 991px) {
  .course-status #title{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-left: 5px;
  }
  .course-status img{
    padding-top: 15px;
  }
  .course-status{
    border-bottom: 1px solid #FFF;
    border-right:none;
  }
  .course-img{
    position:absolute;
    margin-top: 40px;
  }
  #status-body{
    margin-left: 69px;
    width: auto;
    margin-top: -47px;
  }
  .status-body{
    margin-left: 69px;
    width: auto;
    margin-top: 17px;
  }
  #status-head{
    margin-left: 5px;
  }
  #w-icon {
    margin-left: -10px;
    margin-top: -25px;
    font-size: 80px;
    color: #000;
  }
  #temp-icon{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    width: 80%;
    margin-top: -90px;
    margin-left: 70px;
  }
  #high-icon{
    float: left;
    color: #000;
    font-size: 20px;
    margin-left: 70px;
  }
  #low-icon{
    float: left;
    color: #000;
    font-size: 20px;
    padding-left:40px;
  }
  #wind-icon{
    float: left;
    color: #000;
    font-size: 20px;
  }

  .clip-container{
    height: 500px;
    width: auto;
    max-width: 268px;
  }
  .clip-image{
    width: auto;
  }
  .clip-body{
    width: auto;
    max-width: 268px;
    border-left: 1px solid #e3e3e6;
    border-right: 1px solid #e3e3e6;
    border-bottom: 1px solid #e3e3e6;
    text-align: center;
    height: 200px;
  }
}
@media screen and (max-width: 375px) {
  .course-status #title{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-left: -50px;
    max-width: 370px;
  }
  .course-status img{
    display: none;
  }
  .course-status{
    border-bottom: 1px solid #FFF;
    border-right:none;
  }
  .course-img{
    display: none;
  }
  #status-body{
    margin-left: 0 !important;
    width: 250px !important;
    margin-top: -47px;
  }
  .status-body{
    margin-left: 0 !important;
    width: 250px !important;
    margin-top: 0px;
  }
  #status-head{
    margin-left: -50px;
    max-width: 370px !important;
  }
  #w-icon {
    margin-left: -10px;
    margin-top: -25px;
    font-size: 80px;
    color: #000;
  }
  #temp-icon{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    width: 80%;
    margin-top: -90px;
    margin-left: 70px;
  }
  #high-icon{
    float: left;
    color: #000;
    font-size: 20px;
    margin-left: 0 !important;
  }
  #low-icon{
    float: left;
    color: #000;
    font-size: 20px;
    padding-left:40px;
  }
  #wind-icon{
    float: left;
    color: #000;
    font-size: 20px;
  }
}
  /*-------------- End Member Home ------------*/

  /*-------------- Directory ------------*/

.search-container{
  height: auto;
  min-height: 100px;
  width: 100%;
  background: #e3e3e6;
}
.search-content{
  padding-top:30px;
  padding-bottom: 30px;
}
#search-bar{
  padding-right:25px;
  min-width: 350px;
}
#search-bar:after{
    content: "\f002";
    font-family: FontAwesome;
    font-weight: 100;
    position:relative;
    top: 0;
    right: 50px;
    color: #7e7e80;
}
.search-content select{
  min-width: 150px;
}
.search-content label{
  color: #7e7e80;
  padding-left:15px;
  padding-right:25px;
  font-weight: 500;
}
.alphabet{
  text-align: center;
  font-size: 20px;
  color: #7e7e80;
  font-weight: 600;
  margin-top:-40px;
}
.alphabet li{
  display: inline-block;
  padding-right:25px;
}
.alphabet li:hover{
  color: #cc0000;
  cursor: pointer;
}
.members-list th{
  border-bottom: 1px solid #000 !important;
  font-size: 16px;
  font-weight: 500;
}
.members-list .select{
  height: 30px;
  width: 70px;
  padding-right:20px;
  padding-bottom:8px;
  border-bottom:3px solid #cc0000 !important;
}
.members-list .select:after{
    content: "\f078";
    font-family: FontAwesome;
    font-weight: 100;
    position:relative;
    top: 0;
    left: 15px;
    color: #cc0000;
}
.filters{
  padding-bottom:8px;
}
.filters:hover{
  cursor: pointer;
  border-bottom:3px solid #cc0000 !important;
}
.pagination{
  width: 100%;
  text-align: center;
}
.pagination li{
  list-style: none;
  display: inline-block;
  padding-right:20px;
}
.pagination li:hover{
  cursor: pointer;
  color: #cc0000;
}
.pagination #active{
  color: #cc0000;
}

  /*-------------- End Directory ------------*/
/*==================================
          Member's Section
          =====================================*/








