<%= form_tag("/admin/newsletters/send_campaign", class: "formtastic campaign_newsletter") do %>
    <%= hidden_field_tag(:list_id, params[:list_id]) %>
    <fieldset class="inputs">
      <legend><span>Email Details</span></legend>
      <% if @template.nil? %>
          <ol>
            <li>NO DEFAULT TEMPLATE SET FOR THIS LIST, CAN'T SEND EMAIL</li>
          </ol>
      <% else %>
          <ol>
            <li class="subject input" id="newsletter_test_subject_input">
              <%= label(:data, :subject, "Email Subject:") %>
              <%= text_field(:data, :subject, :placeholder => "blank sends default subject") %>
            </li>
            <li class="template input" id="newsletter_test_template_input">
              <%= label(:data, :template, "Template:") %>
              <%= select(:data, :template, options_for_select(@select_array, @list["Data"]["template"]), {include_blank: "default"}) %>
            </li>
          </ol>
          </fieldset>
          <fieldset class="actions">
            <ol>
              <li class="action input_action" id="campaign_newsletter_submit_action">
                <%= submit_tag("Send Campaign for Approval") %>
              </li>
              <li class="cancel">
                <%= link_to "Preview", '#', onclick: "openWindow('#{@template["Data"]["template_name"]}')" %>
              </li>
              <li class="cancel">
                <%= link_to "Cancel", admin_newsletters_view_newsletter_path(list_id: params[:list_id]) %>
              </li>
            </ol>
          </fieldset>
      <% end %>
<% end %>