<div class="index_content">
  <div class="index_as_table">
    <table border="0" cellspacing="0" cellpadding="0" id="index_table_banners" class="index_table index">
      <thead>
      <tr>
        <th>List ID</th>
        <th>List Name</th>
        <th class="col col-actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @lists["Data"]["folder_id"].each_with_index do |x, i|  %>
      <tr <%= 'class=odd' if i.odd?%> >
        <td><%= @lists["Data"]["list_number"][i] %></td>
        <td><%= @lists["Data"]["list_name"][i] %></td>
        <td class="col col-actions">
          <div class="table_actions">
            <%= link_to 'View Details', admin_newsletters_view_newsletter_path(list_id: @lists["Data"]["list_number"][i]) %>
          </div>
        </td>
      </tr>
     <% end %>
      </tbody>
    </table>
  </div>
</div>
