<div id="main_content">
  <div id="main_content">
    <div class="panel">
      <h3>Newsletter Details</h3>

      <div class="panel_contents">
        <div class="attributes_table admin_user" id="attributes_table_admin_user_2">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="row">
              <th>List Id</th>
              <td><%= @list["Data"]["list_id"] %></td>
            </tr>
            <tr class="row">
              <th>List Name</th>
              <td><%= @list["Data"]["list_name"] %></td>
            </tr>
            <tr class="row">
              <th>Description</th>
              <td><%= @list["Data"]["description"] %></td>
            </tr>
            <tr class="row">
              <th>From Email</th>
              <td><%= @list["Data"]["from"] %></td>
            </tr>
            <tr class="row">
              <th>Reply To</th>
              <td><%= @list["Data"]["reply_to"] %></td>
            </tr>
            <tr class="row">
              <th>Errors To</th>
              <td><%= @list["Data"]["errors_to"] %></td>
            </tr>
            <tr class="row">
              <th>Track Clicks</th>
              <td><%= @list["Data"]["track_clicks"] %></td>
            </tr>
            <tr class="row">
              <th>Track Opens</th>
              <td><%= @list["Data"]["track_opens"] %></td>
            </tr>
            <% unless @template.nil? %>
                <tr class="row">
                  <th>Default Template</th>
                  <td><%= @template["Data"]["template_id"] %> - <%= @template["Data"]["template_name"] %></td>
                </tr>
                <tr class="row">
                  <th>Default Email Subject</th>
                  <td><%= @template["Data"]["template_subject"] %></td>
                </tr>
                <tr class="row">
                  <th>Template HTML Body</th>
                  <td><%= @template["Data"]["body_html"] %></td>
                </tr>
            <% else %>
                <tr class="row">
                  <th>Default Template</th>
                  <td>No Default Template Set in Whatcounts</td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
