<div class="index_content">
  <div class="index_as_table">
    <table border="0" cellspacing="0" cellpadding="0" id="index_table_banners" class="index_table index">
      <thead>
      <tr>
        <th>Template Number</th>
        <th>Template Name</th>
        <th class="col col-actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @templates["Data"]["folder_id"].each_with_index do |x, i|  %>
          <tr <%= 'class=odd' if i.odd?%> >
            <td><%= @templates["Data"]["template_number"][i] %></td>
            <td><%= @templates["Data"]["template_name"][i] %></td>
            <td class="col col-actions">
              <div class="table_actions">
                <%= link_to 'Edit', admin_newsletter_templates_edit_path(template_id: @templates["Data"]["template_number"][i]), class: 'edit_link member_link' %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
