<%= form_tag("/admin/newsletter_templates/create", class: "formtastic template_newsletter") do %>
    <fieldset class="inputs">
      <legend><span>Template Details</span></legend>
      <ol>
        <li class="template_name input" id="newsletter_template_name_input">
          <%= label(:data, :template_name, "Template Name:") %>
          <%= text_field(:data, :template_name, :placeholder => "*Required") %>
        </li>
        <li class="template_subject input" id="newsletter_template_subject_input">
          <%= label(:data, :template_subject, "Template Subject:") %>
          <%= text_field(:data, :template_subject, :placeholder => "*Required") %>
        </li>
        <li class="template_html input" id="newsletter_template_html_input">
          <%= label(:data, :template_html, "Template HTML:") %>
          <%= text_area(:data, :template_html, size: "20x10") %>
          <p class="inline-hints">This is Whatcounts.com syntax, please do not alter unless you know what you're doing.</p>
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li class="action input_action" id="template_newsletter_submit_action">
          <%= submit_tag("Create Template") %>
        </li>
        <li class="cancel">
          <%= link_to "Cancel", admin_newsletter_templates_path %>
        </li>
      </ol>
    </fieldset>
<% end %>