<% title 'Email Sign Up' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Email Sign Up</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <h4>Subscribe</h4>
        <p>Sign up for our newsletter and receive information about club events and more.</p>

        <form action="http://whatcounts.com/bin/listctrl" method="post">
        <input type=hidden name="slid" value="4EB045FEF69732580B8ADAD19F67A2E38944EFCA0928875B">
        <input type=hidden name="cmd" value="subscribe">
        <input type=hidden name="goto" value="http://echovalleycc.com/email_sign_up/thank_you">

        <div class="form-group">
          <label>E-Mail:</label><td><input type=text name=email class="form-control"></td>
        </div>
        <div class="form-group">
          <label>First Name:</label><td><input type=text name=first class="form-control"></td>
        </div>
        <div class="form-group">
          <label>Last Name:</label><td><input type=text name=last class="form-control"></td>
        </div>
        <div class="form-group">
          <label>Address:</label><td><input type=text name=address_1 class="form-control"></td>
        </div>
        <div class="form-group">
          <label>City:</label><td><input type=text name=city class="form-control"></td>
        </div>
        <div class="form-group">
          <label>State:</label><td><input type=text name=state class="form-control"></td>
        </div>
        <div class="form-group">
          <label>Zip:</label><td><input type=text name=zip class="form-control"></td>
        </div>
        <div class="form-group">
          <label>Phone:</label><td><input type=text name=phone class="form-control"></td>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <hr>

        <p><a href="/email_sign_up/unsubscribe" class="btn btn-outline">Unsubscribe</a></p>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("golf-img-001.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-002.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-003.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-004.jpg", class: "img-responsive col-sm-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



