<% title 'Thank You' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Thank You</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

<h3>Thank you</h3>


      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("golf-img-001.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-002.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-003.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-004.jpg", class: "img-responsive col-sm-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



