<% title 'Email Sign Up' %>

<!-- HEADER
================================================== -->
<section class="site-masthead">
  <!-- Masthead
  ================================================== -->
  <div class="masthead homes-page section-margin-bottom">
    <div class="caption">
      <div class="container">
        <h1>Email Sign Up</h1>
      </div>
    </div>
  </div>
</section> <!-- /.section-header -->

<section class="white section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

<h4>Unsubscribe</h4>
<p>Enter the email address you would like to unsubscribe from our email newsletter list in the field below and click "unsubscribe".</p>

<form action="http://whatcounts.com/bin/listctrl" method="post">
<input type=hidden name="slid" value="4EB045FEF69732580B8ADAD19F67A2E38944EFCA0928875B">
<input type=hidden name="cmd" value="unsubscribe">
<input type=hidden name="goto" value="http://echovalleycc.com/email_sign_up/thank_you">

<div class="form-group">
  <label>E-Mail:</label>
  <input type=text name=email class="form-control">
  <button type="submit" class="btn btn-default">Submit</button>
</div>

</form>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <%= image_tag("golf-img-001.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-002.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-003.jpg", class: "img-responsive col-sm-6 m-bottom") %>
          <%= image_tag("golf-img-004.jpg", class: "img-responsive col-sm-6 m-bottom") %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /.section-honors -->



