<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= full_title(yield (:title)) %></title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag 'application-polyfills', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
    
  <body class="" data-no-turbolink>
    <!--[if lt IE 8]>
        <p class="alert alert-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
        <div id="offcanvasMenu" class="offcanvas-menu">
        </div>
      </div>
      <div class="snap-drawer snap-drawer-right"></div>
    </div>

    <div id="content" class="site-wrapper snap-content">
      <!-- Navigation
      ================================================== -->
      <header class="site-navigation">
        <div class="wrapper">
          <div class="container top-navigation">
            <div class="row">
              <div class="col-xs-6 visible-xs">
                <a id="open-left" href="#" class="toggle-menu"><i class="icon-bars"><span></span></i> <span>Menu</span></a>
              </div>
              <div class="col-sm-8 hidden-xs">
                <p class="pull-left"> <strong><i class="fa fa-map-marker"></i> <%= @settings.address %> &nbsp; | &nbsp; <a href="tel:<%= @settings.phone %>"><i class="fa fa-phone"></i> <%= @settings.phone %></a></strong> </p>
              </div>
              <!-- Out for now
              <div class="col-sm-4 col-xs-9 text-right">
                <a class="btn btn-link button-login" href="/membership">
                  Member Login <i class="fa fa-lock"></i>
                </a>
              </div>
              -->
            </div>
          </div> <!-- /.top-navigation -->

          <nav class="navbar navbar-inverse navbar-primary">
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <a class="navbar-brand" href="/">
                    <%#= image_tag("brand-logo-echovalley.png", class: "img-responsive") %>
                    <%= image_tag("brand-logo-echovalley@2x.png", class: "img-responsive") %>
                  </a>
                </div>
                <div class="navbar-container col-sm-9 hidden-xs">
                  <div class="offcanvas-wrapper">
                    <ul class="nav navbar-nav">
                      <li>
                        <%= link_to root_path do %>
                          <em class="fa fa-home fa-lg"></em><span class="home-text">Home</span>
                        <% end %>
                      </li>
                      <li class="<%= "active" if params[:controller] == "clubs" %> has-children">
                        <%= link_to "Club", clubs_path %>
                        <ul class="is-hidden">
                          <li><%= link_to "Club Events", events_clubs_path %></li>
                          <li><%= link_to "Information", guest_information_clubs_path %></li>
                          <li><%= link_to "Dining", menu_clubs_path %></li>
                          <li><%= link_to "History", history_clubs_path %></li>
                          <li><%= link_to "Careers", careers_clubs_path %></li>
                          <li><%= link_to "Contact", contacts_path(contact_person: 'matt.matthias@echovalleycc.com') %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= "active" if params[:controller] == "golfcourses" || params[:controller] == "holes" %> has-children">
                        <%= link_to "Golf", golf_path %>
                        <ul class="is-hidden">
                          <li><%= link_to 'Course Tour', golfcourses_path %></li>
                          <li><%= link_to 'Golf Events', events_golfcourses_path %></li>
                          <li><%= link_to 'Practice Facilities', practice_facilities_golfcourses_path %></li>
                          <li><%= link_to 'Contact for Golf Pro', contact_golfcourses_path %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= active_if(homes_path) %>">
                        <%= link_to "Homes", homes_path %>
                      </li>
                      <li class="<%= "active" if params[:controller] == "events" %> has-children">
                        <%= link_to "Special Events", events_path %>
                        <ul class="is-hidden">
                          <li><%= link_to "Venue", venue_events_path %></li>
                          <li><%= link_to "Photo Gallery", photo_gallery_events_path %></li>
                          <li><%= link_to "Directions", directions_events_path %></li>
                          <li><%= link_to "Events Contact", contacts_path(contact_person: 'events@echovalleycc.com') %></li>
                          <li><a href="#" class="go-back"> <i class="fa fa-angle-left"></i> Go Back</a></li>
                        </ul>
                      </li>
                      <li class="<%= active_if(memberinfo_path) %>">
                        <%= link_to "Membership", memberinfo_path %>
                      </li>
                      <li class="<%= active_if(contacts_path) %>"><%= link_to "Contact", contacts_path %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav> <!-- /.navbar-inverse -->
        </div>

      </header>

      <div class="main-content wrapper">

        <!-- Main content
        ================================================== -->
        <%= yield %>


        <footer class="site-footer">

          <div class="footer-section-dark">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <a class="btn btn-link button-email" href="/email_sign_up">
                    <i class="fa fa-envelope fa-2x"></i> <span class="hidden-xs">Sign up for our</span> email newsletter
                  </a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-link button-twitter button-social pull-right-md" href="/assets/echovalley_eventcalendar.pdf" target="_blank" data-no-turbolink target="_blank">
                    <span class="fa-stack fa-lg icon-on-left"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-calendar fa-stack-1x fa-inverse"></i></span> Calendar of Events
                  </a>
                </div>
                <div class="col-md-3">
                  <a class="btn btn-link button-twitter button-social pull-right-md" href="https://twitter.com/echovalleycc" data-no-turbolink target="_blank">
                    <span class="fa-stack fa-lg icon-on-left"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span> Follow us on Twitter
                  </a>
                </div>
                <div class="col-md-3">
                  <a class="btn btn-link button-facebook button-social pull-right-md" href="https://www.facebook.com/echovalleycc/" data-no-turbolink target="_blank">
                    <span class="fa-stack fa-lg icon-on-left"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span> 
                    Visit us on Facebook 
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <h6 class="visible-sm visible-xs m-top">
              <i class="fa fa-map-marker"></i> &nbsp;3150 Echo Valley Drive<br> Norwalk, IA 50211<br><br>
            </h6>
            <h6 class="visible-sm visible-xs"><a href="tel:+5152850101"><i class="fa fa-phone"></i> &nbsp;515-285-0101</a></h6>

            <div class="row m-top hidden-sm hidden-xs">
              <div class="col-sm-2">
                <ul class="text-upper icon-list">
                  <li class="fa-map-marker">
                    <h6>3150 Echo Valley Drive Norwalk, IA 50211</h6>
                  </li>
                  <li class="fa-phone"> <h6>515-285-0101</h6> </li>
                </ul>
              </div>
              <div class="col-sm-2">
                <h6 class="text-uppercase"><%= link_to "Club", clubs_path %></h6>
                <ul class="list-unstyled">
                  <li><%= link_to "Club Events", events_clubs_path %></li>
                  <li><%= link_to "Information", guest_information_clubs_path %></li>
                  <li><%= link_to "Dining", menu_clubs_path %></li>
                  <li><%= link_to "History", history_clubs_path %></li>
                  <li><%= link_to "Careers", careers_clubs_path %></li>
                  <li><%= link_to "Contact", contact_clubs_path %></li>
                </ul>
              </div>
              <div class="col-sm-2">
                <h6 class="text-uppercase"><%= link_to "Golf", golf_path %></h6>
                <ul class="list-unstyled">
                  <li><%= link_to 'Course Tour', golfcourses_path %></li>
                  <li><%= link_to 'Golf Events', events_golfcourses_path %></li>
                  <li><%= link_to 'Membership', membership_golfcourses_path %></li>
                  <li><%= link_to 'Practice Facilities', practice_facilities_golfcourses_path %></li>
                  <li><%= link_to 'Contact for Golf Pro', contact_golfcourses_path %></li>
                </ul>
              </div>
              <div class="col-sm-2">
                <h6 class="text-uppercase"><%= link_to "Homes", homes_path %></h6>
              </div>
              <div class="col-sm-2">
                <h6 class="text-uppercase"><%= link_to "Special Events", events_path %></h6>
                <ul class="list-unstyled">
                  <li><%= link_to "Venue", venue_events_path %></li>
                  <li><%= link_to "Photo Gallery", photo_gallery_events_path %></li>
                  <li><%= link_to "Directions", directions_events_path %></li>
                  <li><%= link_to "Events Contact", contact_events_path %></li>
                </ul>
              </div>
              <div class="col-sm-2">
                <!-- <h6 class="text-uppercase"><%= link_to "Members", memberinfo_path %></h6> -->
                <h6 class="text-uppercase"><a href="/contact">Contact</a></h6>
              </div>
            </div>
            <p class="section-padding text-uppercase text-center">&copy;2015 Echo Valley Country Club. All Rights Reserved.</p>
          </div>
        </footer>

      </div> <!-- /.wrapper -->
    </div>


    <div class="modal fade" id="lgGalleryView">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <%= javascript_include_tag 'application' %>
  
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-821816-20', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>